[2020-04-14 20:58] GraehamHui opened #4 "Add EclipseCon to the Virtual events section"
## Event Information

Event Name: EclipseCon 2020
Type of event: ec & ve
Date: Tue Oct 20, 2020 - Thu Oct 22, 2020
Registration URL: N/A
Website URL: https://www.eclipsecon.org/2020

[2020-04-20 20:28] chrisguindon commented on #4
This was done earlier by Eric.

[2020-04-20 20:28] #4 closed

[2020-04-20 20:29] chrisguindon opened #6 "Display past events"
Starting May 1st, we will need to fetch events from https://newsroom.eclipse.org/api/events

This new API will only return 100 events at the time. We will need to paginate the result to fetch all events!

[2020-04-27 19:08] vgriffiths opened #7 "EclipseCon 2020"
Event Name: EclipseCon
Type of event: ec
Date: October 19 - 22, 2020
Registration URL:
Website URL: https://www.eclipsecon.org/2020
Location name: Virtual
Street:
Zip/Postal code:
City:
Country:
Latitude:
Longitude:

### Type of event
It can be any of the following:

* dc - Demo Camp & Stammtisch
* wg - Working Group Events
* ec - EclipseCon
* ed - Eclipse Day & Hackathons
* et - Training Series
*

[2020-04-27 19:31] GraehamHui opened #8 "Add JakartaOne Livestream to the Eclipse Events webpage"
## Event Information

Event Name: JakartaOne Livestream Cloud Native for Java
Type of event: ve
Date: May 12, 2020
Registration URL: https://www.crowdcast.io/e/80qdj1bq
Website URL: https://jakartaone.org/cn4j2020/

[2020-04-27 19:45] chrisguindon commented on #7
@autumnfound can you take a look to see why EclipseCon is not showing in the list of events?

[2020-04-28 14:21] chrisguindon commented on #7
i made an update to this site and now events are being pulled from newsroom.eclipse.org.

[2020-04-28 14:21] #7 closed

[2020-04-28 14:22] chrisguindon commented on #8
Hi @GraehamHui,

We are now live to manage events via newsroom.eclipse.org. Can you try to submit this event via https://newsroom.eclipse.org/node/add/events

[2020-04-28 17:58] shanda-eclipse opened #9 "Hide map on events.eclipse.org"
Since all events are virtual for the foreseeable future, can we hide/comment out the map view on https://events.eclipse.org/. This will move the list of events higher on the page and we can easily bring back the map when in-person meetings are added to the schedule.

[2020-04-29 13:57] MarieJouault opened #10 "SiriusCon Live 2020"
## Event Information

Event Name: SiriusCon Live 2020
Type of event: ve
Date: 18th June
Registration URL: https://bit.ly/Register_SiriusCon2020
Website URL: https://www.siriuscon.org/
Location name:
Street:
Zip/Postal code:
City:
Country:
Latitude:
Longitude:

### Type of event
It can be any of the following:

* dc - Demo Camp & Stammtisch
* wg - Working Group Events
* ec - EclipseCon
* ed - Eclip

[2020-05-04 21:20] chrisguindon commented on #10
@MarieJouault Thanks for creating this request!

We need to update our instructions since we created a new platform to make it easier for everyone to submit an event.

Would you mind submitting your event here: https://newsroom.eclipse.org/node/add/events

[2020-05-04 21:20] chrisguindon commented on #9
+1

[2020-05-04 21:23] chrisguindon opened #12 "Create an Event website template"
We are planning to host small events under events.eclipse.org.

The goal is to create a generic template to allow us to create a new website in less than 2 hours of work!

@ChristieWittEclipse is planning to help us out with this initiative! We are thinking of creating 3-4 variations so that we can switch between for each new event.

Let's use this bug to discuss requirements!

[2020-05-04 21:26] chrisguindon opened #13 "Event website: AI in EU Virtual Workshop"
We need to create a new event website for AI in EU Virtual Workshop

The characteristics of the event will be:
* Date: June 11 (to be confirmed)
* Time: 14:00-17:00 (CEST)

I am thinking that publishing a page for the event on May 18th would be awesome.

We hope to open registration (likely on Eventbrite) on that week of May.

We will have sponsors.

[2020-05-04 21:28] chrisguindon commented on #13
Gael,

Before we get started, we need some text:

**1. Jumbotron:**
Title: AI in EU Virtual Workshop
Slogan (1 line description):

**2. About the event:**
(2-3 paragraph about the event)

[2020-05-04 21:44] chrisguindon commented on #12
All event website will have the following section

- Jumbotron
  - Title
  - Slogan (optional)
  - Date
- About us
  - 2-3 paragraphs about the event
  - Registration link
- Agenda
- Speakers and/or Program Committee (Optional)
- Sponsors (Optional)

We plan on leveraging the featured footer section with a call to action to see all events on events.eclipse.org.

[2020-05-04 22:17] chrisguindon commented on #12
The Virtual IoT and Edge Native Day event website is a good example of what we are trying to build here: https://iot.eclipse.org/eclipse-virtual-iot-2020/

[2020-05-04 22:36] chrisguindon commented on #12
The technical requirements for this project are being track via EclipseFdn/hugo-solstice-theme:
https://github.com/EclipseFdn/hugo-solstice-theme/issues/119

@autumnfound is currently migrating event components from the jakartone.org template to our Hugo theme which will allow us to do most of what we want to do here!

[2020-05-04 22:43] chrisguindon commented on #12
We plan on creating the SAM IoT 2020 #11 and the AI in EU Virtual Workshop #13 website with this new template.

[2020-05-04 23:53] chrisguindon opened #14 "Update instructions for submitting events"
The homepage currently says:

Missing your event on this site? Please open an issue on GitHub.
You may also send email to events@eclipse.org, but GitHub is the better option.

Users should now submit events via our Eclipse Newsroom: https://newsroom.eclipse.org/node/add/events

[2020-05-04 23:54] chrisguindon commented on #10
I created an issue to update our instructions: https://github.com/EclipseFdn/events.eclipse.org/issues/14

[2020-05-05 00:00] chrisguindon commented on #13
Anne/Gael,

This is an example of an event website:
https://iot.eclipse.org/eclipse-virtual-iot-2020/

This might help you visualize where the text will go!

[2020-05-05 13:11] ChristieWittEclipse commented on #12
@chrisguindon +1, let me know when @autumnfound has the components staged in the Hugo theme, and then I can provide image assets as per the specs of that theme. I think we can start with 3 template variations.

[2020-05-05 13:19] chrisguindon commented on #12
@ChristieWittEclipse +1

I plan on using the preview url'S  for both SAM IoT 2020 #11 (https://deploy-preview-11--eclipsefdn-events.netlify.app/sam-iot-2020/) and  the AI in EU Virtual Workshop #13 event website to show you the components in action.

If you need something now, the Virtual IoT and Edge Native Day is a great starting point of a simple event webpage.

The only difference will be the

[2020-05-05 13:43] ChristieWittEclipse commented on #12
@chrisguindon  +1

[2020-05-05 16:52] gaelblondelle commented on #13
Hi Chris,
Date for the event is June 11th, not June 1st.

Still thinking about the exact Title, Slogan and description of the event.
Will provide that early tomorrow.

Cheers,
Gaël

[2020-05-05 20:01] chrisguindon commented on #10
SiriusCon 2020 is now listed on events.eclipse.org!

Merci!

[2020-05-05 20:01] #10 closed

[2020-05-05 20:02] #14 closed

[2020-05-05 20:11] #9 closed

[2020-05-05 20:12] chrisguindon commented on #8
This was done buy @GraehamHui

[2020-05-05 20:12] #8 closed

[2020-05-05 20:27] chrisguindon opened #15 "Refresh the events.eclipse.org homepage"
We are thinking of re-designing the events.eclipse.org homepage.

The focus right now is on the map and we would like to change that and prioritize event information.

I am creating this bug to allow us to brainstorm ideas.

[2020-05-05 23:37] chrisguindon commented on #13
Thanks @gaelblondelle

I made the edit to my comment.

[2020-05-05 23:51] chrisguindon commented on #13
@annejacko @gaelblondelle We need to define a url for this new website.

I am currently going with events.eclipse.org/2020/ai-eu-virtual-workshop/ but feel free to suggest something better!

The current work in progress is available here:
https://deploy-preview-16--eclipsefdn-events.netlify.app/2020/ai-eu-virtual-workshop/

[2020-05-06 00:07] chrisguindon commented on #12
This is the preview url for the AI in EU Virtual Workshop event website:
https://deploy-preview-16--eclipsefdn-events.netlify.app/2020/ai-eu-virtual-workshop/

There is not much right now but we will update as we get new components in our hugo base theme.

[2020-05-06 13:43] ChristieWittEclipse commented on #12
@chrisguindon thanks, I have the first generic template with Thabang and Shanda for review by noon today. I should be able to provide you assets by EOD.

[2020-05-06 14:00] ericpoirier opened #17 "Event Website: SAM IoT 2020"
Create a new website for SAM IoT.

Here is a link for the initial bug:
https://foundation.eclipse.org/infrazilla/show_bug.cgi?id=3708

I'm creating this issue because this is where we have decided to host the website and we would like to port the discussion of that new website over to this issue.

[2020-05-06 14:27] chrisguindon commented on #12
Great! Is it an extension of the work you did for Sam IoT or is it a new design?

[2020-05-06 14:50] ChristieWittEclipse commented on #12
@chrisguindon It is a mix of the SAM IoT website and the Virtual IoT and Edge Native Day website templates/designs. I received a few revisions so will update you later today!

[2020-05-06 15:51] shanda-eclipse commented on #17
Final content for the page: Save the date

Eclipse SAM IoT 2020
Security, Artificial Intelligence and Modelling for the next generation Internet of Things
Virtual Conference | September 16-17, 2020

Mark your calendars for Eclipse SAM IoT 2020, Sept 16-17.

The Eclipse SAM IoT conference will bring together industry experts and researchers working on the next generation IoT, especially focussing o

[2020-05-06 19:16] ericpoirier commented on #17
Hi Shanda,

Here is the url for staging:
https://deploy-preview-11--eclipsefdn-events.netlify.app/2020/sam-iot/

Also note that once this is on production, it will keep the same url structure. Which would be:
events.eclipse.org/2020/sam-iot/

[2020-05-07 13:39] ChristieWittEclipse commented on #12
@chrisguindon I've attached the approved mockups for the first generic virtual event template, with both light and dark variations as we discussed. The image assets are also attached. I will work on the second and third generic template images within the next week.

[Generic Template 1 for Web Team.zip](https://github.com/EclipseFdn/events.eclipse.org/files/4593237/Generic.Template.1.for.Web.Team.

[2020-05-07 13:55] chrisguindon commented on #12
@ChristieWittEclipse Thank you Christie!

All good for the additional variations! I think we can use this desgign for #17 and #16

[2020-05-07 13:59] ChristieWittEclipse commented on #12
@chrisguindon +1 that's great!

[2020-05-07 14:33] chrisguindon commented on #12
I created an issue https://github.com/EclipseFdn/jquery-eclipsefdn-api/issues/16 to discuss our maintenance problem with the featured footer.

As described in https://github.com/EclipseFdn/events.eclipse.org/issues/12#issuecomment-623724477, we are thinking of leveraging the featured footer to display a call to action to view all our events as a temporary solution while we work on an easier way to

[2020-05-07 14:44] ChristieWittEclipse commented on #12
+1, I think for this initial template we will keep the footer as is, but I will leave this decision to @shanda-eclipse. As I have time closer to Q3, I can design the generic footer that will work across all of the different working group websites and the eclipse.org website.

[2020-05-07 14:52] chrisguindon commented on #12
+1 I am fine with keeping our current footer which is  "Sign up to our newsletter"

![Screen Shot 2020-05-07 at 10 51 07 AM](https://user-images.githubusercontent.com/893942/81309202-acda6a00-9050-11ea-81c1-baedf2318281.png)

[2020-05-07 14:59] annejacko commented on #13
@chrisguindon @gaelblondelle  - Chris,  I just checked with Gael and the official name of the event is Open Source AI Workshop. So let's use this URL instead:
events.eclipse.org/2020/open-source-ai-workshop

Gael is working on the other items you asked for (Jumbotron, description).

[2020-05-07 15:07] shanda-eclipse commented on #12
+1

[2020-05-08 13:15] ChristieWittEclipse commented on #12
@chrisguindon FYI – I will be holding on designing the other 2 templates until I have the capacity.

[2020-05-08 13:19] chrisguindon commented on #12
@ChristieWittEclipse +1 Thanks for the update!

[2020-05-08 17:34] chrisguindon commented on #13
@annejacko @gaelblondelle I made the requested change:
https://deploy-preview-16--eclipsefdn-events.netlify.app/2020/open-source-ai-workshop/

We are starting the build the page not. Please ignore all the layout problems as we haven't started implementing the design that @ChristieWittEclipse created for #12

[2020-05-08 17:56] shanda-eclipse commented on #15
Wish list:
- Card style listings (ex https://www.redhat.com/en/events or https://events.linuxfoundation.org/)
- Ability to filter events by location (continent or virtual) and subject matter (working group)
- Visually interesting, but we do not want to have to upload images for every event

Display the following info for each event:
- Event name
- Event date and time (1-day events should show star

[2020-05-08 21:14] chrisguindon commented on #13
@annejacko If you are interested, these are the files with the content for building the webpage:
https://github.com/EclipseFdn/events.eclipse.org/pull/16/files

[2020-05-10 16:56] annejacko commented on #13
Thanks, Chris. Gael and I will take a look at it on Monday.

Anne

Anne Jacko
Conference Queen | Eclipse Foundation, Inc.
Community. Code. Collaboration.
Join us at our virtual event:  EclipseCon 2020 <https://www.eclipsecon.org/2020> October 20-22

[2020-05-11 16:46] annejacko commented on #13
@chrisguindon Gael and I looked at the website -- looks good so far. We will not need the second CTA button that currently says "Submit a Talk" -- likely the only CTA will be "Register Now."

[2020-05-11 16:54] chrisguindon commented on #13
@annejacko No problem!

Most of the content you see are placeholders!

I will adjust once I see the content submitted on this issue!

[2020-05-11 17:55] chrisguindon commented on #17
I posted a comment on the PR but I should have posted my question here:
https://github.com/EclipseFdn/events.eclipse.org/pull/11

@shanda-eclipse are you the owner of this event?

Who should we expect to give us a +1 for making this page live?

[2020-05-12 20:38] phkrief commented on #17
@ericpoirier we have been asked by @PaulW to move the dates by one day. SO now, the event is programmed from the 17-18 September.
Thx for fixing that in the title and in the text:

Virtual Conference | September 17-18, 2020

Mark your calendars for Eclipse SAM IoT 2020, Sept 17-18.

Thx a lot

[2020-05-12 20:41] phkrief commented on #17
I also attach the current version of the CFP to attach to the "Call for Papers" button.
Thx a lot
[Flyer-SAM IoT 2020-1.3.pdf](https://github.com/EclipseFdn/events.eclipse.org/files/4618350/Flyer-SAM.IoT.2020-1.3.pdf)

[2020-05-13 16:50] annejacko commented on #13
@chrisguindon Here is the event description for the website:
The Open Source AI workshop brings together European open source and AI experts, as well as top AI open source projects. This is the first virtual event organized by the Eclipse Foundation about Open Source AI, with the goal of gathering a larger community around AI in the Eclipse ecosystem.

[2020-05-13 19:01] ericpoirier commented on #17
I updated staging with the last updates.

https://deploy-preview-11--eclipsefdn-events.netlify.app/2020/sam-iot/

Let me know if there's anything else.

I'll wait for your +1 to merge this to production.

Thanks.

[2020-05-13 19:50] gaelblondelle commented on #17
+1

[2020-05-13 19:50] #17 closed

[2020-05-13 23:57] chrisguindon commented on #13
@annejacko I made the requested content change:
https://deploy-preview-16--eclipsefdn-events.netlify.app/2020/open-source-ai-workshop/

Let me know whenever you wish to publish this event website.

We can remove the sections where we don't have content such as the agenda and add them back later once the content is ready.

[2020-05-14 00:17] annejacko commented on #13
@chrisguindon We just updated the time of the event. The new time is 9:00 - 12:00 CEST.

I think we can wait a few days before publishing, and by then I may have more content.

[2020-05-14 18:30] chrisguindon commented on #12
I am done implementing the look and feel that @ChristieWittEclipse  created for our Virtual Events:
https://deploy-preview-16--eclipsefdn-events.netlify.app/2020/open-source-ai-workshop/

Please note that EVERY section on this page is optional. The best way to describe our architecture is to think about lego blocks. Each section can be configured to have a white, gray, or dark background + we can

[2020-05-14 18:32] chrisguindon commented on #6
We are now pulling the last 100 events.

This works but it would be nice to view past events.

[2020-05-14 18:33] chrisguindon commented on #13
@annejacko I made the update to the site:
https://deploy-preview-16--eclipsefdn-events.netlify.app/2020/open-source-ai-workshop/

@ChristieWittEclipse is now included in the preview.

[2020-05-14 19:19] annejacko commented on #13
@chrisguindon @ChristieWittEclipse The page is looking good! I like the background on the speaker section.

[2020-05-19 13:27] ChristieWittEclipse commented on #12
@chrisguindon we had a few tweaks to this template that I missed on the call:

**About the Event Section**
-Add “Co-organized by:” text and logo placeholder below the “About the event” description as per the initial mockup.
![Screen Shot 2020-05-14 at 4 53 19 PM](https://user-images.githubusercontent.com/58480647/82330992-85b95c00-99b1-11ea-8508-fd290fc6c18a.png)

**Speakers section**
-Center the

[2020-05-19 16:54] ChristieWittEclipse commented on #17
We had a request to make the line orange (#f7941e) below the title in the Jumbotron (see line in screenshot). I know we had discussed keeping the template generic and simple, so please advise if this change is too much.

![Screen Shot 2020-05-19 at 12 50 16 PM](https://user-images.githubusercontent.com/58480647/82354943-8365fa80-99cf-11ea-9f9e-45d12817c571.png)

[2020-05-19 16:54] chrisguindon commented on #12
@ChristieWittEclipse,

As discussed last week, the event page is to prove/show that our template is configurable.

For example, if we want the content to be center-align, we would simply add the .text-center class to the wrapping div!

I won't add this section on the event page for Open Source AI Workshop since we can already see this in action via https://events.eclipse.org/2020/sam-iot/

Done! I

[2020-05-19 16:54] #12 closed

[2020-05-19 20:35] chrisguindon commented on #17
@ChristieWittEclipse If we make the change, it will be orange for all event websites under events.eclipse.org!

If you still think we should do it, feel free to create a new request asking us to make this change!

[2020-05-19 20:39] ChristieWittEclipse commented on #17
Okay I will follow up with SAM IoT event organizers, I don't think this is mandatory for all websites that use this template.

[2020-05-20 09:37] phkrief commented on #17
This Issue is tagged as closed. Are we supposed to continue to exchange on this one?
Thx for your help

[2020-05-20 12:39] chrisguindon commented on #17
@phkrief The event website was launched. I expect a new issue for new changes!

[2020-05-20 12:48] phkrief commented on #17
Great! Thx @chrisguindon. It was my understanding too ;-)

[2020-05-20 13:15] Ioana240 opened #19 "Update content for SAMIoT 2020 Conference"
Hi everyone,

The EU research team and the external organization team have decided to create a version 2 of the SAMIoT conference. The initial target for the website to go live is Friday, May 22.

This is the document with the content for the webpage version 2: https://docs.google.com/document/d/17boCj2__Vj6NMw7LiSHRL4mF9aJgtKEtFYFHAmA7yw4/edit#

Please let us know if this would be feasible until

[2020-05-20 21:19] annejacko commented on #13
@chrisguindon @gaelblondelle We are ready to publish the website. Let me know if I missed anything we need at this point. Note that one session in the agenda is still TBD so I assume we should leave it off the agenda for now (or delay adding the agenda until it's confirmed).

Front page content
- We have so slogan, so let's leave off that line of text at the top
- Registration: https://open-source

[2020-05-21 13:27] annejacko commented on #13
@chrisguindon I have an update about the agenda. (I tried to update the worksheet but I think you are editing it offline and I couldn't save the changes.)  For the session where the speakers are not yet confirmed at 9:45, we can list the session, but not list the speaker names yet.

[2020-05-21 15:09] chrisguindon commented on #19
@Ioana240,

We will do our best but for future reference, please plan to give us 5 business days to implement an event website as we might need to work with you if things are missing and we also have other priorities!

[2020-05-21 15:20] chrisguindon commented on #13
@annejacko,

The content is now on the staging site:
https://deploy-preview-16--eclipsefdn-events.netlify.app/2020/ai-eu-virtual-workshop/

Let us know what you think if you give us your +1 we can push this live!

Cheers,

[2020-05-21 15:41] annejacko commented on #13
@chrisguindon Thx for the updates. Looking good! A couple of things with the Agenda:
- "Panel on open..."  The time should be 11:10 - 11:30, and the Track should be Panel
- "Online poll..." The Track and speaker name should be empty

@gaelblondelle Can you please review?

[2020-05-21 15:53] ericpoirier commented on #19
Hi,

I'm looking at the Google document and I don't get what the revisions are. Is this something I should be looking at or should I just care about the second part of the document which is the layout.

Thanks.

[2020-05-21 16:21] chrisguindon commented on #19
@ericpoirier It's not really clear but I think you are expected to follow the second part.

[2020-05-21 20:35] chrisguindon commented on #19
@Ioana240 This is a really rough draft:
https://deploy-preview-20--eclipsefdn-events.netlify.app/2020/sam-iot/

Could you tell us what we should change before making this live?

[2020-05-21 22:13] annejacko commented on #19
Hi -- site is looking good. @Ioana240 I did notice something that I would change. In the list of "Importnat Dates," the format of the dates is inconsistent. The first two abbreviate the month, and the last two do not. I would suggest NOT using abbreviations here, and spelling out "August" and "September" for the last two dates.

[2020-05-22 10:49] phkrief commented on #19
@chrisguindon @ericpoirier thanks for this first draft.
We have some comments we would like to cover and prioritize with you this afternoon if you are available. I will send you an invitation on zoom.
================
Feedback:
- Can we move the CFP button before the description and onto the banner background
- Tagline: change style so it doesn’t look like a header
- Description:
   - Line breaks

[2020-05-22 12:18] Ioana240 commented on #19
@annejacko @ericpoirier @chrisguindon Thank you everyone for making the changes.  I agree with you, Anne, we should remove the abbreviations from the "Important Dates" section.

@phkrief From what I remember from our SAMIoT update call today, Susan mentioned that the Call for Papers button that leads to the PDF with the topics of interest and submission guidelines are from version 1.3 and now we h

[2020-05-22 13:02] Ioana240 commented on #19
@ericpoirier @chrisguindon There is a version 3 of the CFP PDF document that is currently being updated. Will upload it in the bug once the document is ready. Thank you!

[2020-05-22 14:15] annejacko commented on #13
@chrisguindon @gaelblondelle Hey Chris -- Gael has reviewed, and just a couple of things -- and then we can go live. Re the sponsor layout -- I noticed that too... we don't plan to have more sponsors, so having them centered would be better!

 Gael's comments:
- Agenda: remove the "online poll line". That's not formally part of the schedule.
- Sponsors: would look better if we have the two logo ce

[2020-05-22 16:41] phkrief commented on #19
Please replace BRAIN-IoT logo with this logo.
Thx a lot

![BRAIN-IoT_Logo_Wordmark_HD](https://user-images.githubusercontent.com/6196602/82689985-b0c6d880-9c5b-11ea-9d6b-05e18be13e63.jpg)

[2020-05-22 16:46] phkrief commented on #19
Please use the following icons for the 3 different event topics:

- Security by Fauzan Adiima from the Noun Project (https://thenounproject.com/search/?q=security&i=3349833)
- Artificial Intelligence by priyanka from the Noun Project (https://thenounproject.com/search/?q=artificial%20intelligence&i=2858867)
- Tree by Gacem Tachfin from the Noun Project (https://thenounproject.com/search/?q=modelli

[2020-05-22 16:48] phkrief commented on #19
By default, they include the attribution in the file. Do you want that I crop the files?

[2020-05-22 18:03] ericpoirier commented on #19
Hi Philippe,

Can you provide a logo with transparent background?

[2020-05-22 19:05] phkrief commented on #19
Here we go !

![BRAIN-IoT_Logo_Wordmark_HD](https://user-images.githubusercontent.com/6196602/82701176-f1c8e800-9c6f-11ea-9a89-a2ee7d5439d5.png)

[2020-05-22 19:15] ericpoirier commented on #19
Hi everyone,

I made those updates and they are now on staging.

https://deploy-preview-20--eclipsefdn-events.netlify.app/2020/sam-iot/

Let me know if there's anything else before going live.

Thanks!

[2020-05-25 09:04] sjkiwai opened #22 "Code of Conduct for virtual events"
We'd like to add a link to the Code of Conduct for virtual events to the SAM IoT webpage. Next release of the conference page is June 6th.

[2020-05-25 09:10] sjkiwai opened #23 "Newsletter sign up or upcoming events on virtual event template"
Is it possible to choose between the upcoming events or Foundation Newsletter sign up on the virtual events template?

For SAM IoT, if we need to show the Foundation Newsletter, could we show somehow that it is the Foundation newsletter (rather than the SAM IoT newsletter).

Thank you!
Susan

[2020-05-25 12:52] ericpoirier commented on #19
Hi Philippe,

I updated the staging page to add the Call for Papers link to the header.

https://deploy-preview-20--eclipsefdn-events.netlify.app/2020/sam-iot/

[2020-05-25 14:18] shanda-eclipse commented on #23
Ideally events.eclipse.org and all subpages would use the same footers as eclipse.org, so we can highlight the most timely/relevant information and ensure out key CTA's are getting the most views. However, this may be a secondary step. If we are looking for a single CTA that remains on all event pages, I would suggest upcoming events.

[2020-05-25 14:48] chrisguindon commented on #22
@annejacko Should we create a generic Code of Conduct for all our events or will we create a page for each event?

[2020-05-25 15:02] annejacko commented on #22
@chrisguindon I have drafted one and am waiting for Paul to review it. I will ping him again.

[2020-05-25 15:35] chrisguindon commented on #13
@annejacko I made the change to the preview:
https://deploy-preview-16--eclipsefdn-events.netlify.app/2020/ai-eu-virtual-workshop/

If all is well, please let us know and we will make this available on the production site.

[2020-05-25 15:43] gaelblondelle commented on #13
Hi Chris,
One small thing: "Moderated by Gaël Blondelle" appears twice on the las line of the agenda.
Can you fix it?

Thanks!

[2020-05-25 15:48] chrisguindon commented on #13
I made the change, the preview site should be update in a minute or so!

[2020-05-25 15:58] chrisguindon commented on #15
As discussed on https://github.com/EclipseFdn/openadx.eclipse.org/pull/87,

It should be possible to view past events from each working group.

[2020-05-25 18:52] gaelblondelle commented on #13
Excellent!
Can you publish it?
Also, adding it to events.eclipse.org would be wonderful.
I have a meeting tomorrow with some specialists of AI in Europe, and I want to show them the website.

Thanks!
Gaël

[2020-05-25 19:25] phkrief commented on #19
Thanks a lot @ericpoirier!

Please see attached to this comment the Call for Papers PDF. Please attach it to both buttons and publish the page.

[Flyer-SAM IoT 2020 + Submission Guidelines Version 3.pdf](https://github.com/EclipseFdn/events.eclipse.org/files/4678608/Flyer-SAM.IoT.2020.%2B.Submission.Guidelines.Version.3.pdf)

+1

They are late in providing the template but we should publish the pa

[2020-05-25 19:31] phkrief commented on #19
OOps, Enrico noticed an error on one name: "Prabhakaran Kasinathan" instead of "Prabhakaran Kasinatha". The "n" at the end of the first name is missing...
It must be my fault

[2020-05-25 19:37] phkrief commented on #19
Here is the new list of Technical Program Committee if you have time t update it now. Thx a lot

- Luca Anselma, University of Turin
- Paolo Azzoni, Eurotech
- Ilaria Bosi, LINKS Foundation
- Paolo Brizzi, Competence Center Industry Manufacturing 4.0
- Benoit Combemale, University of Toulouse INRIA
- Davide Conzon, LINKS Foundation
- João Pedro Correia dos Reis, Faculty of Engineering, University

[2020-05-25 21:04] #13 closed

[2020-05-25 21:07] chrisguindon commented on #13
I committed the PR! The site will appear under this URL in the next 10 minutes:
https://events.eclipse.org/2020/open-source-ai-workshop/

@gaelblondelle Someone will need to submit the event to the Eclipse Newsroom for it to appear on events.eclipse.org: https://newsroom.eclipse.org/node/add/events

This is an important step as this allows you to share this event with events.eclipse.org and variou

[2020-05-25 21:14] phkrief commented on #19
I forgot to mention that we would like to mention the icon's attributions. I don't know waht would be the best place on the page for that.
Based on https://thenounproject.zendesk.com/hc/en-us/articles/200509928-How-do-I-give-creators-credit-in-my-work- you could:

- either mention attributions w/o links

“Security” icon by Fauzan Adiima, from thenounproject.com.
"Artificial Intelligence" by priyan

[2020-05-25 23:52] annejacko commented on #13
I’ll submit it via the Newsroom tomorrow (Tuesday).

Anne

Anne Jacko
Conference Queen | Eclipse Foundation, Inc.
Community. Code. Collaboration.
Join us at our virtual event:  EclipseCon 2020 <https://www.eclipsecon.org/2020> October 20-22

[2020-05-26 00:00] annejacko commented on #13
Correction — I saw that Gael was eager to have it up on the Events page, so I submitted it now instead of waiting until Tuesday my time.

Gael, it goes into moderation, so Shanda will need to approve it before it’s live.

Anne Jacko
Conference Queen | Eclipse Foundation, Inc.
Community. Code. Collaboration.
Join us at our virtual event:  EclipseCon 2020 <https://www.eclipsecon.org/2020> October 20

[2020-05-26 12:15] phkrief commented on #19
@ericpoirier could you add, next to both CfP buttons, a button to download "Proceeding Templates". Here is the file to link to this new button:
[templates.zip](https://github.com/EclipseFdn/events.eclipse.org/files/4682051/templates.zip)

With this last update, we should be all set. We might have to add a few more Technical Program Committee members. Nothing else, until the Revision 1.1 (targetted

[2020-05-26 12:28] phkrief opened #24 "Update content for SAMIoT 2020 Conference (Revision 1.1)-Target June 8"
For this revision, we would to update the website as follow:

- Link to registration (June 8) - in Location section (@susan will provide the link)
- Add CFP and Submission Guidelines as hugo pages (@phkrief will provide the expected layout)
- TPC updates (more people) - A complete list should be available June 2
- Add link to Code of Conduct  - @annejacko will provide the link.

Thanks a lot

[2020-05-26 13:02] phkrief commented on #19
Please forget my last request.
Susan suggests that we update the CfP instead.
So I will send you a new version of the CfP in few minutes

[2020-05-26 13:17] phkrief commented on #19
Here is the new version of the CfP, so you don't need to change anything in the page but link the button to the new version of the file:
[Flyer-SAM IoT 2020 + Submission Guidelines Version 3.1.pdf](https://github.com/EclipseFdn/events.eclipse.org/files/4682439/Flyer-SAM.IoT.2020.%2B.Submission.Guidelines.Version.3.1.pdf)

[2020-05-26 13:50] phkrief commented on #19
There is a new error in the following research department:

Prabhakaran Kasinathan, Siemens AG - **Corporate Technology, Cybersecurity Technology**

Can you fix it? Sorry about that. This error comes from this guy, btw ;-)
Thanks a lot

[2020-05-26 13:52] phkrief commented on #19
I just noticed another (minor error) in the icon label: "Artificial Intelligencefor IoT" we should read instead "Artificial Intelligence for IoT".
Space is missing before "for".
Thx

[2020-05-26 14:56] annejacko commented on #22
@chrisguindon Paul has reviewed the updated Code of Conduct to be used for virtual events. Here is the Gdoc with the text: https://docs.google.com/document/d/1HpWqk2SjBgsCR89uWNV-7-3CyT8zf8LSYefL3lNJnh8/edit?ts=5ecc43a7

Every virtual event should reference this code somehow, but I'm not sure where it should be on each event's page / website. Seems like this is somewhat a design decision? @shanda-

[2020-05-26 14:57] annejacko commented on #24
FYI Code of Conduct is ready; I updated this issue on the topic: https://github.com/EclipseFdn/events.eclipse.org/issues/22

[2020-05-26 15:01] chrisguindon commented on #22
Awesome!

I was thinking of creating the page under https://events.eclipse.org/code-of-conduct/ but like you, it's not clear to me where we should include a link to this page.

@annejacko Should this link be on every event page by default?

[2020-05-26 15:02] ericpoirier commented on #19
Hi Philippe,

I updated the staging page following the comments you made since yesterday.

https://deploy-preview-20--eclipsefdn-events.netlify.app/2020/sam-iot/

Please let me know if I missed anything.

Thanks.

[2020-05-26 15:36] ChristieWittEclipse commented on #22
@chrisguindon @annejacko I just reviewed other virtual event websites, and it seems like they're placing the "Code of Conduct" in the top menu. So in that case, I would suggest placing it on the right side of "Projects" in the screenshot below.
![Screen Shot 2020-05-26 at 11 34 13 AM](https://user-images.githubusercontent.com/58480647/82920209-0396dd80-9f45-11ea-94d9-a8b4a443da6d.png)

@shanda-ecl

[2020-05-26 15:39] chrisguindon commented on #22
I would prefer an option where we don't modify the eclipse.org menu unless we replace it completely.

@ChristieWittEclipse  Could this be something we add in the jumbotron?

[2020-05-26 15:40] phkrief commented on #19
Thx @ericpoirier. You are almost done. You missed the following comments:
- https://github.com/EclipseFdn/events.eclipse.org/issues/19#issuecomment-634038861
- https://github.com/EclipseFdn/events.eclipse.org/issues/19#issuecomment-633718158

Thx a lot

[2020-05-26 16:13] ChristieWittEclipse commented on #22
+1, I don't think it should go in the Jumbrotron because its not a main CTA. It could be placed as a hyperlink, below the "About the Event" section. Maybe every event description should end with a sentence like "View our event code of conduct."

[2020-05-26 16:18] annejacko commented on #22
It seems like the only element each event will have is the "About the Event" section... correct? Personally, I don't like the idea of referencing it at the end of every event description as text that is part of the description. Could we perhaps have a smalllish orange button, centered, below the "About the Event" text, that says "Code of Conduct" or "Community Code of Conduct"?

[2020-05-26 16:21] ChristieWittEclipse commented on #22
@annejacko I like that idea as well!

[2020-05-26 17:53] ericpoirier commented on #19
I made the updates you mentioned above.

https://deploy-preview-20--eclipsefdn-events.netlify.app/2020/sam-iot/

Let me know if there's anything else.

[2020-05-26 18:16] phkrief commented on #19
+1

It looks good to me. Thx a lot for your work

[2020-05-26 18:34] shanda-eclipse commented on #22
I look at look at the template and think this is our best option.

[2020-05-26 19:38] chrisguindon commented on #22
+1 I like the idea of adding a link to the CoC in the "Registration/About the Event" section.

[2020-05-26 19:44] #19 closed

[2020-05-26 19:58] annejacko commented on #22
@chrisguindon Just a note that I updated the CoC to change the headline. https://docs.google.com/document/d/1HpWqk2SjBgsCR89uWNV-7-3CyT8zf8LSYefL3lNJnh8/edit?ts=5ec317fb#heading=h.gf7vhy47a6bt

[2020-05-26 19:59] chrisguindon opened #25 "Feedback for SAMIoT 2020 Conference"
Philippe needed the site to be live. I decided to commit the PR and create a separate issue with my feedback:

- content/2020/sam-iot/images/brain_iot_logo.jpg is 400kb please optimize for web!
- I am fine with adding some custom styles to the less file but let's make sure these new classes are re-usable.

In this situation, I am referring to ".technical-topics-notes".

For example,  is only makes

[2020-05-27 20:21] #25 closed

[2020-06-02 17:19] annejacko commented on #13
Hi. Can we please update the information for one of the speakers? Thanks.

For Chen Lei, please update his info to read this way:

Chief Scientist (MindSpore); Professor (Hong Kong University of Science and Technology)

[2020-06-02 17:28] chrisguindon commented on #22
In an effort to get the ball rolling, I created the first draft:
https://deploy-preview-27--eclipsefdn-events.netlify.app/code-of-conduct/

Now, we just need to figure out how we are going to link to this page.

[2020-06-02 17:29] chrisguindon commented on #13
@annejacko This issue is closed.

Can you please create a new issue for your new request?

[2020-06-02 17:49] annejacko opened #28 "Updates to Open AI Workshop website"
Hi -- On https://events.eclipse.org/2020/open-source-ai-workshop/, can we please update these items?

Please correct the spelling for "Astor Nummeling" in both the info under his picture, and in the agenda, to read
"Astor Nummelin Carlberg"

For the speaker Chen Lei, please update the info under his photo to read to read
"Chief Scientist (MindSpore); Professor (Hong Kong University of Science and

[2020-06-02 18:03] ChristieWittEclipse commented on #22
+1 to have a small orange button, centered, below the "About the Event" text, that says "Community Code of Conduct".

[2020-06-02 23:17] annejacko commented on #22
I like Christie' suggestion for the placement of the CoC link.

[2020-06-03 14:00] chrisguindon commented on #22
How about this:
https://deploy-preview-27--eclipsefdn-events.netlify.app/2020/sam-iot/

[2020-06-03 14:01] chrisguindon commented on #22
I did not see your comment about naming the link "Community Code of Conduct" before pushing my change.

I am thinking of using  Code of Conduct" since it smaller? What do you all think?

[2020-06-03 14:15] ChristieWittEclipse commented on #22
+1, I like the shorter version "Code of Conduct".

[2020-06-03 15:30] annejacko commented on #22
I think it looks good with the shorter label, and I like the placement.

[2020-06-03 16:01] #22 closed

[2020-06-03 16:21] #28 closed

[2020-06-03 17:26] phkrief commented on #24
@ericpoirier You should have all the inputs to update the website for its Revision 1.1

Thx a lot

[2020-06-03 17:43] shanda-eclipse commented on #15
Resources from Matt:

I updated this XD link to a Development link with downloadable assets: https://xd.adobe.com/view/dbc61752-c869-4bab-525b-de389b574b56-adf7/

I am also including a local XD file if needed here: https://drive.google.com/drive/folders/1G6mQzGAJEMuW-Liiu4Z8DifU0IKGCjWM?usp=sharing

[2020-06-04 12:54] phkrief commented on #24
We have a new TPC member:

@chrisguindon @ericpoirier can we still plan June 8th?
The only missing thing I'm aware of is the CoC. @annejacko any update on that? Thx a lot

[2020-06-04 13:02] chrisguindon commented on #24
@phkrief I posted the CoC yesterday:
https://events.eclipse.org/2020/sam-iot/

[2020-06-04 13:44] shanda-eclipse opened #30 "Update "About us" for AI workshop"
https://events.eclipse.org/2020/open-source-ai-workshop/

Please update content under "About Us" to:

The Open Source AI workshop brings together some of the brightest minds in the artificial intelligence (AI) industry and European open source experts to share best practices, explore key trends, and to discuss collaboration on AI happening today within the Eclipse ecosystem.

@gaelblondelle and Th

[2020-06-04 17:59] autumnfound commented on #24
I've taken on the updates for the event. I've requested access to the google docs attached. The only other thing I need is some context around what "TPC" is

[2020-06-04 21:04] phkrief commented on #24
Hi @autumnfound
the TPC is the Technical Program Committee.
The TPC section of https://events.eclipse.org/2020/sam-iot/ has to be updated with the list provided in the comment https://github.com/EclipseFdn/events.eclipse.org/issues/24#issuecomment-638829086.

HTH

[2020-06-05 16:38] annejacko opened #34 "Update to Open Source AI Workshop to add final speaker"
Hi,
We have our missing speaker! Please update the website to add him to the speaker session and to the agenda section.
https://events.eclipse.org/2020/open-source-ai-workshop/
Speaker photo attached.

Text for under his photo:
Barry O’Sullivan
President (AI4EU - European AI Association); Professor (University College Cork, Ireland)

Text for Agenda - he is giving the talk at 9:45 that currently i

[2020-06-05 17:56] #30 closed

[2020-06-05 17:58] chrisguindon commented on #34
@annejacko You can review the changes here:
https://deploy-preview-35--eclipsefdn-events.netlify.app/2020/sam-iot/

[2020-06-05 18:25] #24 closed

[2020-06-05 18:26] #34 closed

[2020-06-05 21:14] annejacko opened #36 "Please create a "Save the Date" website for JakartaOne Livestream"
We are doing another JakartaOne Livestream event in September 2020, similar to the one we did in September 2019. So it's time to get the Save the Date website up. We will be adding items as they become available.

The plan is to have this up next week (week of June 8), but I got distracted and forgot to ask for it. Oops.

Here is the link to the event website request form:
https://docs.google.com/

[2020-06-05 22:41] annejacko commented on #36
I have the header image file too! Attaching.
![home-background](https://user-images.githubusercontent.com/29178654/83927846-ff3ba300-a742-11ea-8ff4-81a28782a25e.jpg)

[2020-06-06 16:13] annejacko opened #37 "Correction to speaker info for Open AI Workshop website"
Apologies for another small update, but we need to make a correction for Barry O'Sullivan's info that is below his speaker photo. A quick update would be great, given our timing. Hoping this is the last update request! Thanks.

https://events.eclipse.org/2020/open-source-ai-workshop/

Please have the text read like this:
President (EurAI - European AI Association), Professor (University College Co

[2020-06-08 11:50] phkrief commented on #24
Quick question: I thought that the process in place was supposed to wait for a "+1" before publishing. Why is it different in this case?
Thanks

[2020-06-08 12:50] chrisguindon commented on #24
@phkrief This is definitely needed for the initial website since I want the owner to sign-off on the website we are delivering.

I don't always require it for a revision since those are often time-sensitive. If I see something that we might not be sure, I will definitely ask for a +1.

I try to use my judgement to allow us to be efficient. If you prefer to always +1 a change, we can do that moving

[2020-06-08 14:36] phkrief commented on #24
@chrisguindon this is fine with me. I was just surprised to see the website updated w/o any request from your side to approve knowing, yes, the changes were minor on the main page but the second page was completely new.

In any case thanks fo @autumnfound for his great job to deliver it on time.

Kind regards

[2020-06-08 15:53] chrisguindon opened #40 "Explain website translation in Event Website Content Template"
With jakartaone.org, we often need to translate event websites in various languages:

- https://jakartaone.org/pt/2020/brazil/
- https://jakartaone.org/jp/2020/japan/

We should explain what we need in our Event Website Content Template document.

[2020-06-08 16:18] #37 closed

[2020-06-11 15:01] chrisguindon commented on #40
As discussed, this is not a top priority but I would like to get this done before we need to translate another event.

[2020-06-15 14:08] autumnfound commented on #36
Closing, as a new issue has been created in the JakartaOne repository: jakartaee/jakartaone.org#127

[2020-06-15 14:08] #36 closed

[2020-06-15 20:34] annejacko opened #42 "Update Open Source AI Workshop website now that event is over"
Hi -- Now that the event is over, we need to update it to remove the "Register" button in the header.

We could perhaps wait to see when the YouTube recordings will be available, since the site will nee to be updated to add that info too.

I'm not sure we have discussed this, but maybe for a site like this, the "Register" button could be changed to a button that says something like "Watch Recorded

[2020-06-16 07:39] Ioana240 commented on #42
@annejacko @gaelblondelle That's a great idea, Anne. We can replace the "Register" button with a "Watch recorded Talk" button with links to YouTube once we have the single video sessions ready to be published.
@gaelblondelle I will have a chat today with Christie about editing these videos, and will keep you posted on how/when/whether Christie could edit the videos among her other tasks and timeli

[2020-06-17 01:35] annejacko commented on #42
@Ioana240 Thanks. Just let me know more about the recordings when you have that info!

[2020-06-17 07:54] Ioana240 commented on #42
@annejacko Sure! I will let you know as soon as we have the single video sessions ready.
I discussed with Christie and we decided we could have the videos ready by July 1. I keep you posted if there are additional details or changes on the timeline

[2020-06-30 14:14] autumnfound commented on #42
This is live

[2020-06-30 14:14] #42 closed

[2020-07-07 15:07] gaelblondelle opened #52 "Create a new website for the #2 Eclipse AI Workshop"
Hi team,

We will have a new AI Workshop on September 10th.
The https://events.eclipse.org/2020/open-source-ai-workshop/ website was perfect for what we want to do.
So I would like to duplicate it for this second workshop (spoiler: we may run a 3rd workshop by the end of the year :) ).

Then, I would like to try to update the website myself through a pull request to see how I can lower the burden

[2020-07-09 20:38] chrisguindon commented on #52
I am assigning this back to you,  now that the initial PR is created!

Please reach out if you run into any problem!

[2020-08-26 18:06] karenmcnaughton opened #71 "Edit to events.eclipse.org"
Please remove this line of text from the bottom of the page:
"You may also send email to events@eclipse.org, but the Eclipse Newsroom is the better option."

thanks!

[2020-08-28 15:54] #71 closed

[2020-08-31 13:22] fdesbiens opened #75 "MQTT Sparkplug webinar - September 23, 2020"
Hi.

The Sparkplug working group is requesting an event page for a webinar taking place on September 23, 2020.

The content template is here: https://docs.google.com/document/d/1vR6UOv5z0Ngzzi-OXYuctkmjskp-A8razvwk5MPlN1w

I have the photos for the speakers but need to tweak them to your specifications. Should I attach them to this issue once ready?

Please note we do not need an agenda section on

[2020-08-31 13:35] autumnfound commented on #75
Hi Frederic, It looks like its mostly in order! My only question is that you have a speaker under a Host category in your document. Is this person to be displayed in a different way, or is that just for internal documentation? For the pictures, as soon as you're ready to, feel free to zip them and attach them here!

[2020-08-31 14:32] fdesbiens commented on #75
@autumnfound Thank you for your quick reply! They would like to have the host displayed in a special way. Whatever you can do easily will do. I will upload the pictures soon.

[2020-08-31 14:41] autumnfound commented on #75
We could add a separate speaker section for the host, or we could add `Host` to his entry so that it displays as part of his name. So it would be like the following:
[code]

[2020-08-31 14:45] fdesbiens commented on #75
@autumnfound That works for me. Attached are the speaker pictures I was provided.
[SparkplugWebinarSpeakers.zip](https://github.com/EclipseFdn/events.eclipse.org/files/5150944/SparkplugWebinarSpeakers.zip)

[2020-08-31 15:59] autumnfound commented on #75
Preview available of 1st draft: https://deploy-preview-76--eclipsefdn-events.netlify.app/2020/mqtt-sparkplug/

[2020-09-03 13:54] Ioana240 commented on #75
Hi Martin,

We have a few changed on the current preview:

1. Could you please change the title from: "Keep Your IIoT Projects From Failing.
WEBINAR: Learn How MQTT Sparkplug Makes IIoT Easy" to **"Webinar: The 80’s Called and They Want Their Architectures Back: how MQTT actually converges IT & OT for faster systems integration"**

2. In the "Speakers Section", the speaker photos are placed more t

[2020-09-03 14:35] autumnfound commented on #75
1. The text you reference is 2 fields, and that is an awful lot of text to put into either of them. How would you want to cut that text into 2 fields?
2. I can look into that!
3. Can do

[2020-09-03 14:46] Ioana240 commented on #75
1. Sounds good, let's cut the title text into 2 fields

"Webinar-  The 80’s Called and They Want Their Architectures Back:

How MQTT Actually Converges IT & OT for Faster Systems Integration"

Thank you!!

[2020-09-04 12:09] autumnfound commented on #75
This has been updated @Ioana240 @fdesbiens, how does it look in the preview?

[2020-09-04 12:50] fdesbiens commented on #75
@autumnfound Things are looking good! Personally I would make the speaker portraits a tad smaller but I will defer to you and @Ioana240 about this.

[2020-09-04 12:55] Ioana240 commented on #75
@autumnfound @fdesbiens It looks good! I would also adjust a bit the size of the speaker photos. Apart from that, we could go live with this webpage

Thank you, Martin!

[2020-09-04 12:58] autumnfound commented on #75
We don't currently have a fine enough control needed to make them both centered and smaller in the framework. This is about as good as I could get it with the current state

[2020-09-04 13:00] autumnfound commented on #75
This has now been merged in! It should be live soon.

[2020-09-04 13:00] #75 closed

[2020-09-08 12:52] autumnfound commented on #75
@Ioana240 for new events to be present on eclipse.org, they need to be added to the newsroom site which manage our events. Its expected that people that request events would create the entry on the site through https://newsroom.eclipse.org/node/add/events

[2020-09-08 12:59] Ioana240 commented on #75
@autumnfound When I add an event in the Newsroom, I also have to add a link to the respective event. which link should I use for the Sparklug community event. I only have the preview from this bug. is this the final link or is there another link I can add in the Newsroom?

[2020-09-08 13:00] autumnfound commented on #75
https://events.eclipse.org/2020/mqtt-sparkplug/ is the live link

[2020-09-08 13:06] Ioana240 commented on #75
@autumnfound Awesome! Thank you Martin!!

[2020-09-11 21:45] flora8984461 commented on #15
Rough todo issue:

- [ ] 1) build up the layout skeleton and list out the events
- [ ] 2) search bar on the top left
- [ ] 3) load more events (lazy loading)
- [ ] 4) filters on the left under search bar (by working groups, dates...)
- [ ] 5) read more on each event

[2020-09-21 14:36] annejacko commented on #15
Adding feedback on the new page as viewed here: https://deploy-preview-87--eclipsefdn-events.netlify.app/

Looks good.. the one thing that I miss is a list of all upcoming events by date. I realize the squares featuring the various events are ordered by date, but that's not obvious. If someone wanted to know "what coming up next week" they would have to look a bit. Maybe a list by date on the left

[2020-09-21 14:45] chrisguindon commented on #6
This feature is planed has phase 2 of https://github.com/EclipseFdn/events.eclipse.org/issues/15

[2020-09-21 14:46] chrisguindon commented on #15
@flora8984461 I just spoke with Thabang and we have some feedback:

- Add the jumbotron (Header)
- Change the filter caption from "Working Group" to  "Categories"
- Change eclipse.org to other in the "Categories" filter.
- Add a "Categorie" option for Eclipse IDE. I will be adding the option shortly:
  - eclipse_ide|<a href="https://www.eclipse.org/eclipseide" target="_blank">Eclipse IDE</a>

[2020-09-22 15:59] flora8984461 commented on #15
For other types, bg images

[2020-09-22 16:50] flora8984461 commented on #15
Currently, we have event types:

- EclipseCon
- Virtual Event
- Demo Camps & Stammtisch
- Working Group Events
- Training Series
- Other interesting Events
- Unknown

But from the XD design (https://xd.adobe.com/view/dbc61752-c869-4bab-525b-de389b574b56-adf7/), I only have three background images for event card.

According to @chrisguindon , we want to use different background images for each type

[2020-09-22 16:57] chrisguindon commented on #15
@karenmcnaughton can your team provide the missing images?

[2020-09-22 17:28] flora8984461 commented on #15
I updated these feedbacks, just for the subtitle is the text I copied from XD mockups. Please let me know the text you want to change to or hide them temporarily.

Preview: https://deploy-preview-87--eclipsefdn-events.netlify.app/

[2020-09-22 17:46] chrisguindon commented on #15
@karenmcnaughton,

Thabang asked us to make sure that we included the jumbotron for the events.eclipse.org re-design:
https://deploy-preview-87--eclipsefdn-events.netlify.app/

Is it possible for your team to provide content to replace the lorem ipisum text?

[2020-09-22 17:54] chrisguindon commented on #15
Let's keep it for now! I've sent an email to Thabang and @karenmcnaughton about the missing text and missing images.

[2020-09-22 18:14] karenmcnaughton commented on #15
Text for the lorem ipsum in the Jumbotron: "Join the world’s leading technologists and open source leaders at Eclipse Foundation events to share ideas, learn and collaborate."

[2020-09-22 19:05] flora8984461 commented on #15
Updated.

[2020-09-22 20:29] jph152 commented on #15
Do we need certain specs for these background images? Does 380 x 340px work?

[2020-09-22 20:33] flora8984461 commented on #15
@chrisguindon  From my code, I already fix the size of each event card, so even the img is bigger, won't cause the card bigger, 380 x 340px works. But we should keep the file size small so that it is light when loading. What do you think?

[2020-09-23 12:40] chrisguindon commented on #15
@flora8984461 I would stay consistent with what we currently have:
https://deploy-preview-87--eclipsefdn-events.netlify.app/images/WorkingGroupEvents.png?ad9312c2776f2636581cd08dd7a1b5a6

This image is 369 x 320px

[2020-09-23 12:54] flora8984461 commented on #15
@jph152   After discussion with Chris, probably let's keep it consistent as 369 x 320px, thanks

[2020-09-23 16:30] chrisguindon opened #95 "What coming up next week"
Posted by @annejacko via https://github.com/EclipseFdn/events.eclipse.org/issues/15#issuecomment-696157753

Adding feedback on the new page as viewed here: https://deploy-preview-87--eclipsefdn-events.netlify.app/

Looks good.. the one thing that I miss is a list of all upcoming events by date. I realize the squares featuring the various events are ordered by date, but that's not obvious. If someo

[2020-09-23 16:31] chrisguindon commented on #95
Perhaps we could add a filter or a button that would allow folks to only see events for the upcoming week?

[2020-09-23 16:32] chrisguindon commented on #15
@annejacko,

Thanks for the feedback! I decided to create a separate issue for your request:
https://github.com/EclipseFdn/events.eclipse.org/issues/95

I think we need more time to discuss before we roll this feature out!

[2020-09-23 16:35] chrisguindon opened #96 "Add missing bg for event types"
As described by @flora8984461 via https://github.com/EclipseFdn/events.eclipse.org/issues/15#issuecomment-696845583

Currently, we have event types:

EclipseCon
Virtual Event
Demo Camps & Stammtisch
Working Group Events
Training Series
Other interesting Events
Unknown
But from the XD design (https://xd.adobe.com/view/dbc61752-c869-4bab-525b-de389b574b56-adf7/), I only have three background images

[2020-09-23 16:35] chrisguindon commented on #15
@jph152 @flora8984461 I created https://github.com/EclipseFdn/events.eclipse.org/issues/96 to track the background image effort since I am planning to push @flora8984461 work on production this afternoon and will be closing this bug.

[2020-09-23 17:07] jph152 commented on #15
@flora8984461 Can we make the jumbotron text lowercase?
"Join the world’s leading technologists and open source leaders at Eclipse Foundation events to share ideas, learn and collaborate."

[2020-09-23 17:27] flora8984461 commented on #15
Yes, updated.

[2020-09-23 17:46] jph152 commented on #96
![Demo Camps   Stammtisch BG](https://user-images.githubusercontent.com/69642121/94049511-16aaa480-fda3-11ea-9bf6-105f0df7b450.png)
![EclipseCon BG](https://user-images.githubusercontent.com/69642121/94049515-18746800-fda3-11ea-925a-6892715f85b8.png)
![Training Series BG](https://user-images.githubusercontent.com/69642121/94049523-1ad6c200-fda3-11ea-86ee-c39765d1e04b.png)

[2020-09-23 18:23] flora8984461 commented on #96
@jph152  thanks! updated the images.
Just FYI: unknown type is still using the pure black image I created.

[2020-09-23 18:29] chrisguindon commented on #15
The changes have been merged to the Master branch! We should see a new version of events.eclipse.org shortly!

Thank you to everyone involved @flora8984461 @jph152 @annejacko @shanda-eclipse @autumnfound @ericpoirier.

[2020-09-23 18:29] #15 closed

[2020-09-23 18:33] hudsonkelly83 opened #98 "Add a legend to the main page of events.eclipse.org"
Add a legend to the main page of events.eclipse,org at the next update that identifies what the colors behind each event mean.

![image](https://user-images.githubusercontent.com/70344546/94054215-5d030200-fda9-11ea-982e-eb71a36d6d82.png)

ie: Brown = Eclipse Events, Black = other interesting event, Blue = working group event

I'll leave it to you guys how you want to make it look, but just an ide

[2020-09-23 18:38] chrisguindon commented on #98
Resources from Matt:

I updated this XD link to a Development link with downloadable assets: https://xd.adobe.com/view/dbc61752-c869-4bab-525b-de389b574b56-adf7/

I am also including a local XD file if needed here: https://drive.google.com/drive/folders/1G6mQzGAJEMuW-Liiu4Z8DifU0IKGCjWM?usp=sharing

For the look, we can implement the design that was created by Matt!

![Screen Shot 2020-09-23 at 2

[2020-09-23 18:42] autumnfound opened #99 "Compress web assets related to event tile backgrounds"
Web assets added for new react events tiles were added in an uncompressed state. This could lead to slowdowns for some users on limited connections. We should compress images to be closer to 50kb (where possible while maintaining clarity)

[2020-09-23 18:42] chrisguindon commented on #52
Closing this bug since this new event is live!

[2020-09-23 18:42] #52 closed

[2020-09-23 18:45] chrisguindon commented on #23
I agree with Shanda.  The featured footer is something that the marketing team owns.

@sjkiwai With that said, there is nothing stopping us from adding a new section before the featured story to promote something important about that event!

[2020-09-23 18:46] #23 closed

[2020-09-23 19:23] hudsonkelly83 commented on #98
Thabang has also requested a few more edits next time you update.

1: Alphabetize the 'CATEGORIES' section:
![image](https://user-images.githubusercontent.com/70344546/94059372-4f04af80-fdb0-11ea-9586-5ada29f6d8ca.png)

ie: Eclipse IDE should be much higher, Tangle EE at the bottom

2: Under 'EVENT TYPES' add an 's' onto Virtual Event to make it 'Virtual Events' (to standardize it with the other t

[2020-09-23 19:39] chrisguindon commented on #96
I think we are fine with the pure black images.
Thanks @jph152 for sending these images our way!

[2020-09-23 19:39] #96 closed

[2020-09-23 20:32] chrisguindon opened #100 "Missing Learn more button"
The Eclipse Newsroom Event Form asks for an info and register link and we would like to support both via the events.eclipse.org homepage.

This is a sample event from our API:
https://newsroom.eclipse.org/api/events?parameters[upcoming_only]=1

[code]

- Add  "Learn More" link if `infoLink` is not empty
- Add  "Register" link if `registration` is not empty

[2020-09-23 20:33] chrisguindon commented on #99
@autumnfound Are you sure we need to optimize the images? I took a quick look and they are close to 50kb!

https://github.com/EclipseFdn/events.eclipse.org/blob/master/less/images/TrainingSeries.png

[2020-09-23 20:47] chrisguindon commented on #100
These links should open in a new window since they are external links. This is based off feedback from @brianking

[2020-09-24 09:42] brianking commented on #100
I'm not sure if they "should", I will defer to UX experts. I guess the question to ask is if the events page goes away, will people come back? And do we want them to?

[2020-09-24 12:14] #98 closed

[2020-09-24 12:33] chrisguindon opened #105 "Eclipse Foundation Events Legend"
The original mockup had a legend for tracking:

- Eclipse Foundation Events
- Events we are attending
- Other community events of interest

![94055084-76587e00-fdaa-11ea-8dc7-1a0d3c77cd7f](https://user-images.githubusercontent.com/893942/94144926-c46b9100-fe3f-11ea-9ab3-597580275c68.png)

This was not implemented in phase 1 because we are simply not tracking that information in our API. The goal o

[2020-09-24 13:04] jph152 commented on #105
That would do a smart way to organize the page. I can spend some time updating the events tomorrow

[2020-09-24 13:20] autumnfound commented on #99
Apologies, it looks like that is indeed the case! The images I was seeing are the ones that are committed in the static/images folder like the following:

https://github.com/EclipseFdn/events.eclipse.org/blob/master/static/images/EclipseCon.jpg
https://github.com/EclipseFdn/events.eclipse.org/blob/master/static/images/unknown.jpg
https://github.com/EclipseFdn/events.eclipse.org/blob/master/static/

[2020-09-24 13:21] autumnfound commented on #99
Also, we currently load an image that's a black square. Is there any reason we can't replace that with a black background?

[2020-09-24 13:29] flora8984461 commented on #99
Good point, I thought there would be image for unknown type, my last pr just did the default black color, I will make a new pr to remove that black image and just use black color, thanks

[2020-09-24 14:05] chrisguindon commented on #99
`Additionally, 3.38mb image:
https://github.com/EclipseFdn/events.eclipse.org/blob/master/static/images/Jumbotron-bg.png`

We definitely need to shrink this one :) Good catch!

[2020-09-24 14:06] #100 closed

[2020-09-24 14:17] chrisguindon commented on #105
I think we are close to 380 events. This is probably a full day of work for you if we decide to do this work...

[2020-09-24 16:15] jph152 commented on #105
Ah I figured it was just the events currently displayed on the page. Definitely best to wait on this then

[2020-09-25 02:22] flora8984461 commented on #99
I think that link is previously generated by webpack mix() ? Since this is the image I uploaded and I already compressed to 80kb. Should I delete the one in static folder and re-run the webpack? 🤔

https://github.com/EclipseFdn/events.eclipse.org/blob/master/less/images/Jumbotron-bg.jpg

[2020-09-25 03:39] chrisguindon commented on #105
We could start with current events. We will add the new field to track this info from the newsroom website.

We can discuss how we want to deal with past events via issue #6

[2020-09-25 12:00] chrisguindon commented on #99
No, we are good! The image on prod is around 90kb!

[2020-09-25 12:32] chrisguindon commented on #105
I am preparing a patch that will do the following:

- Add a new Attendance Type field.
- This new field will have 3 option:
  - ef_event|Eclipse Foundation Events
  - ef_attending|Events we are attending
  - other|Other community events of interest
- This field will ONLY be editable by moderators. This is similar to the geocoordinate field.
- If this field is not set for an event, our API will say

[2020-09-25 13:13] chrisguindon commented on #105
The change is now on production! @jph152 you can start updating events whenever you can now! Please keep us updated on the status via this issue!

[2020-09-25 13:33] jph152 commented on #105
Will do! Thanks Chris

[2020-09-25 19:21] chrisguindon commented on #105
@flora8984461 has implemented the legend on our preview server:
https://deploy-preview-110--eclipsefdn-events.netlify.app/

Let us know what you guys think!

[2020-10-02 13:03] jph152 commented on #105
All current events are updated with the new field https://deploy-preview-110--eclipsefdn-events.netlify.app/

[2020-10-02 17:04] #99 closed

[2020-10-02 17:04] #105 closed

[2020-10-13 12:08] phkrief opened #113 "Video button displayed for a session without video attached"
**Describe the bug**
I noticed on https://deploy-preview-112--eclipsefdn-events.netlify.app/2020/sam-iot/ that for Simone session there is no attached presentation or video. Nevertheless, the video button is displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://deploy-preview-112--eclipsefdn-events.netlify.app/2020/sam-iot/
2. Scroll to Simone Seminara
4. See error

**Expe

[2020-10-16 12:13] chrisguindon commented on #113
@flora8984461 I believe this is something we will need to fix in the hugo-soltice-theme repo.

[2020-10-16 12:16] chrisguindon commented on #40
Based on the conversation from https://github.com/jakartaee/jakarta.ee/pull/917, we will need to document the process for translating any of our hugo websites.

I am moving this issue to hugo-solstice-theme.

[2020-11-03 08:50] sjkiwai opened #119 "Open Research Webinars event website"
HI Chris,
We have started drafting the content template on https://docs.google.com/document/d/11W7y8Cyvyazm6uzzARzNyixLNqUdmVdADfs2YB_MkxE/edit#.
Would be great if we could review some questions together before we upload the doc. Will ping on Slack.

Kind regards,
Susan

[2020-11-05 19:10] chrisguindon opened #120 "Archives to static HTML previous EclipseCon sites"
Checklist of sites we need to archive:

- [x] 2004   https://events.eclipse.org/2004/eclipsecon/
- [x] 2005   https://events.eclipse.org/2005/eclipsecon/
- [x] 2006   https://events.eclipse.org/2006/eclipsecon/
- [x] 2007     https://events.eclipse.org/2007/eclipsecon/
- [x] 2008   https://events.eclipse.org/2008/eclipsecon/
- [x] 2009      https://events.eclipse.org/2008/eclipsecon/
- [x] 2010

[2020-11-06 14:31] #119 closed

[2020-11-06 14:32] sjkiwai commented on #119
Moved to https://github.com/EclipseFdn/opensourceinnovation.eu

[2020-11-12 13:23] ericpoirier commented on #120
Here is a list of things we will need to do in order to complete the arcvhing of the websites listed above.

- [ ] Create aliases for each EclipseCon websites that have been archived to point to their respective folder in events.eclipse.org (Matt)
- [ ] Remove database tables for archived websites (Matt)
- [ ] Remove Drupal themes from Solstice theme (Eric)
- [ ] Clean up Drupal site folder contai

[2020-11-15 09:32] phkrief opened #131 "Double links on papers"
**Describe the bug**
I wanted to complete the SAM-IoT agenda by adding the links to accepted papers. Knowing we don't have a specific slot (such as vod: or slides:) for papers, I added directly the link in the description, just below the authors. For example:

--

--
Unfortunately, the result is not what I expected:
- First I get 2 icons representing 2 links on the agenda following the title of th

[2020-11-16 14:24] autumnfound commented on #131
This is caused by adding the link to the body. This is due to how we store the information for the modal information, which has a side effect of not accepting any sort of anchor tags. We can look at tweaking this to allow links, but it will take a couple of days

[2020-11-16 14:40] phkrief commented on #131
Thx @autumnfound, it was my guess :-).
Would it help if we could add a new column on the agenda with the link to the paper instead of fixing this issue?

[2020-11-16 15:13] autumnfound commented on #131
I don't think adding a paper column would be the right solution here. Adding papers seems like it would be a rare case rather than the usual case like slides and vods, and this can be solved with your current solution easily

[2020-11-16 15:15] phkrief commented on #131
Fine with me then

[2020-11-16 18:56] flora8984461 commented on #120
I don't have access to tick the checkbox, creating a list for myself that I have created patches:
- [ ]  2010
- [ ]  2011
- [ ]  2012
- [ ]  2013
- [ ]  locationcon
- [ ]  europe2011
- [ ]  europe2012
- [ ]  europe2013
- [ ]  europe2014
- [ ]  europe2015
- [ ]  europe2016
- [ ]  europe2017
- [ ]  foss4g2015
- [ ]  foss4g2016
- [ ]  foss4g2018
- [ ]  france2013
- [ ]  france2014
- [ ]  france2016
-

[2020-11-16 19:07] ericpoirier commented on #120
Ok, it will be important to remember to update the master list once the site that you have worked on have been merged.

[2020-11-18 15:27] ericpoirier commented on #120
While updating the list of remaining websites to be added, I noticed the following things:

europe2015
Not the correct background image

europe2017
We are missing a Sponsor logo

[2020-11-18 19:26] flora8984461 opened #151 "Warning when building archived events"
This only happens in some of the archived events, probably due to their LESS syntax is old.

[code]

[2020-11-19 19:07] flora8984461 commented on #120
I think these are fixed with my new PR #153

[2020-11-19 20:52] flora8984461 commented on #151
This is fixed by using CSS not LESS for old events.

[2020-11-19 20:52] #151 closed

[2020-11-19 22:08] flora8984461 commented on #120
We are missing images for
 summiteurope2007
 summiteurope2008
 summiteurope2009
 summiteurope2010

https://eclipsefdn-eclipsecon-archive.netlify.app/summiteurope2007/
https://eclipsefdn-eclipsecon-archive.netlify.app/summiteurope2008/
https://eclipsefdn-eclipsecon-archive.netlify.app/summiteurope2009/
https://eclipsefdn-eclipsecon-archive.netlify.app/summiteurope2010/

[2020-11-20 13:51] chrisguindon commented on #120
I plan on removing https://eclipsefdn-eclipsecon-archive.netlify.app  once you are done with this task!

[2020-11-24 17:54] flora8984461 commented on #95
@chrisguindon Is this still a requirement? Since if I'm going to implement this, it would be somehow incompatible with https://github.com/EclipseFdn/events.eclipse.org/pull/111,  because there I directly call the APIs when doing the filters. Unless we have an API for "upcoming weeks". 🤔

[2020-11-25 13:22] chrisguindon commented on #95
You should be able to calculate which events are starting within 7 days of the current time?

[2020-11-25 13:50] ericpoirier commented on #120
@flora8984461 I noticed that for France2017 and France2018 the social media links in the footer are not aligned properly. Can you have a look at that?

Thanks

https://events.eclipse.org/2017/france/
https://events.eclipse.org/2018/france/

[2020-11-25 15:15] flora8984461 commented on #95
Note: Let's make this after https://github.com/EclipseFdn/events.eclipse.org/pull/111 is done.

[2020-11-25 18:17] #120 closed

[2020-11-25 18:20] flora8984461 commented on #131
This should be fixed by https://github.com/EclipseFdn/hugo-solstice-theme/commit/16db80887a6e8837acd45b7e91ae8a0c1bc1806c, I'll check if the events site's theme has been updated to 0.0.106

[2020-11-26 17:24] phkrief opened #158 "Error running command: Command did not finish within the time limit"
**Describe the bug**
I try to update the SAM IoT webpage but the build is interrupted with this error...

Can you fix that?

Thx a lot

[2020-11-26 18:15] autumnfound commented on #158
Hi Philippe, this is caused by your branch being out of date. We had extra resources that were timing out builds and using a lot of our build minutes for our preview site which have been changed to be static and not cause this problem. Please rebase your changes and you should be good to go!

[2020-11-26 18:15] #158 closed

[2020-11-28 18:40] phkrief commented on #158
Oops! Sorry about that. I was convinced that I synched my workspace.
It is fixed now.

Thx a lot

Kind regards
*—*
Philippe Krief, PhD
Research Relations Director | Eclipse Foundation, Inc.
Eclipse Foundation <http://www.eclipse.org/>: The Platform for Open
Innovation and Collaboration
M: +33 (0)6 21 01 06 81

Annastr. 46, D-64673 Zwingenberg
Handelsregister: Darmstadt HRB 92821
Managing Directors

[2020-11-30 19:14] flora8984461 commented on #131
Hello @phkrief
I made a patch to update the theme version and your issue is fixed here https://github.com/EclipseFdn/events.eclipse.org/pull/160

[2020-12-01 21:07] #131 closed

[2020-12-01 21:19] karenmcnaughton opened #161 "Launch Jakarta EE 9 page"
The go live for the Jakarta EE 9 page is late in the day on December 7th please.
Can you remove the text: "Jakarta EE 9 is coming on December 8" before go live.
Thank you!

[2020-12-03 14:49] karenmcnaughton opened #164 "Update Jakarta EE Compatibility Page"
On this page: https://jakarta.ee/compatibility/

We need to do the following:
- remove the orange Download button that is top right on the page
- add a new button the to left of "Compatibility Requests" that says "Download Compatible Products"
- when you click on that new button, it will take you to a new page
- the design file for this new page can be found here: https://drive.google.com/file/d/1

[2020-12-03 18:32] #164 closed

[2020-12-04 21:41] chrisguindon commented on #161
This is the wrong repo @karenmcnaughton

[2020-12-04 21:41] #161 closed

[2020-12-04 21:42] chrisguindon commented on #161
I created one under jakarta.ee: https://github.com/jakartaee/jakarta.ee/issues/1022

[2021-01-13 19:25] chrisguindon opened #165 "Download Button is missing from the header"
I would expect to see our Download button in the header since this is an .eclipse.org website.

For examole:
![Screenshot from 2021-01-13 14-24-16](https://user-images.githubusercontent.com/893942/104499457-23017a00-55ab-11eb-8fbe-2f94353a8fa9.png)

[2021-01-13 20:59] #165 closed

[2021-01-22 15:59] flora8984461 opened #168 "[IE compatibility] only on IE, react is not compiled correctly with Laravel mix v6"
The new syntax for "react" in laravel mix 6 is:
[code]
It used to be working with laravel mix 5. 🤔
only on IE, react is not compiled correctly with Laravel mix v6.

[2021-01-22 17:17] flora8984461 commented on #168
I think it's incompatible with react-app-polyfill? I'm not sure, I removed it and changed to use unfetch and promise-polyfill seems it's working now.

[2021-01-22 17:17] #168 closed

[2021-01-26 15:01] flora8984461 commented on #6
@shanda-eclipse Hi Shanda, please check the preview: https://deploy-preview-111--eclipsefdn-events.netlify.app/ .
Except for the scroll tool bar on the event "Web-based tools - built with Eclipse (only) - Cloud Tool Time (Maximilian Koegel)...", other functions should be ready.

The search textbox will start fetching data when you type 3 characters or above (to be less often hitting the server).

[2021-01-28 18:12] shanda-eclipse commented on #6
Event type = unknown is a weird filter to include. In fact, we should look at how the event type filters are used, as it seems like they aren't mutually exclusive categories (should probably be a separate bug)

Regardless of how many events are displaying, you have to click "Load more" to see the past events. This doesn't seem super user friendly. Ex. filtered to "Other interesting events" so only

[2021-01-28 18:51] chrisguindon commented on #6
This is there for legacy reasons. The previous website had events to a type "unknown".  I am assuming that someone in the Marketing team made an update in the newsroom to change to update those events since that filter no longer returns any results.

We can remove it from the list if this is no longer needed. Otherwise, @autumnfound suggested that we renamed this to uncategorized.

I  agree that t

[2021-01-28 21:36] flora8984461 opened #169 "Need to change the API to make events order in natural order: Nearest upcoming first and then most recent past event first"
This is to for: https://deploy-preview-111--eclipsefdn-events.netlify.app/

We decide to combine the fetching of both upcoming events and past events. But needs to display upcoming events in the order that the nearest is at the front, but keep most recent past events first as well.

So for past events, it's DESC order, for upcoming events, it's ASC order.

[2021-01-29 18:25] shanda-eclipse commented on #6
Let's remove "Unknown" since it isn't being used.

Past events recommendation makes sense, but I'd like to see how it works once implemented.

[2021-02-01 14:22] sjkiwai opened #170 "Eclipse SAAM Mobility 2021"
Hi there,
We'd like to request setup for the SAAM Mobility website. The website template is here https://docs.google.com/document/d/11dzhZ--1cio7Ci3X8L-D598jo7J-GFeWbqgXiAw60IQ/edit#. Happy to review the document with you.

Regards,
Susan

[2021-02-02 18:49] sjkiwai commented on #170
The paper submissions portal needs a webpage for reference. Will the url be:  events.eclipse.org/2021/saam-mobility  ? Thank you!

[2021-02-02 19:35] autumnfound commented on #170
Current preview is available here: https://deploy-preview-171--eclipsefdn-events.netlify.app/2021/saam-mobility

There doesn't seem to be a lot of information in the document just yet, just the first section and the basic event information? Otherwise it looks like the sample content was left in

[2021-02-08 18:20] autumnfound commented on #170
I've updated the site with some sample content as requested in the event document. We can remove or comment that before this goes live if we don't have that content.

[2021-02-22 15:04] phkrief opened #175 "Eclipse SAAM Mobility 2021 Banner"
Could you have the kindness to replace the default banner of the SAAM Mobility event with the attached file?
Thx a lot
![banniere-eclipse-sans-texte](https://user-images.githubusercontent.com/6196602/108726325-93df6e80-7527-11eb-8fa9-e59976485da2.jpg)

[2021-02-22 15:05] phkrief commented on #175
For your information, here is how we organised the message on this banner, in case it helps
![banniere-eclipse-2](https://user-images.githubusercontent.com/6196602/108726469-c12c1c80-7527-11eb-9e72-75c4ac931a69.jpg)

[2021-02-22 15:47] flora8984461 commented on #175
Hi @phkrief @chrisguindon
Please check the preview: https://deploy-preview-176--eclipsefdn-events.netlify.app/2021/saam-mobility/

I wonder do I need to change the background image also for "Technical topics of interest" Section and "Technical Program Committee" section? Or just the header?

Thanks!

[2021-02-22 16:01] chrisguindon commented on #175
@phkrief Do you have a preference?

[2021-02-22 21:29] phkrief commented on #175
Thanks @flora8984461 for this try.
I made a header darker and created a dark background for the other sections. Would you mind trying that?
![header](https://user-images.githubusercontent.com/6196602/108772419-45e55d80-755d-11eb-805f-b3de5b2592ab.jpg)
![middle-page](https://user-images.githubusercontent.com/6196602/108772430-4847b780-755d-11eb-9bb4-2b5685799637.jpg)

WDYT? Thx

[2021-02-22 21:37] phkrief commented on #175
I realized that the second one doesn't match well with the first one so I have another suggestion
![middle-page-2](https://user-images.githubusercontent.com/6196602/108773362-84c7e300-755e-11eb-9be0-27b81b875c10.jpg)
WDYT?

[2021-02-24 14:14] flora8984461 commented on #175
Hi @phkrief , Thanks for the new banners and reminder, And I am so sorry for the late reply!

Please have a check on the preview with the latest image you shared:
https://deploy-preview-176--eclipsefdn-events.netlify.app/2021/saam-mobility/

-----------------------------------------------------------------------------------------------------

And I also tried with the previous image you shared, wh

[2021-02-24 14:22] autumnfound commented on #175
As a third party, the latest image provided is really snappy! The dark colors pop much better, with the whole head section passing accessibility for its current content. The previous image with the light ribbon under the text makes it a little hard to read as there is a lot going on in that section, though it still passes accessibility.

[2021-02-24 15:24] phkrief commented on #175
Thanks @autumnfound for sharing your thoughts.  Greatly appreciated

[2021-02-24 15:26] phkrief commented on #175
Yes, please, we have to stay with this one now, I guess.
I saw your changes, Will I be able to play with these bitmaps later on, if we decide to adapt them?
Thanks

[2021-02-24 16:31] flora8984461 commented on #175
Hi @phkrief For sure, once this is merged to master, you can update the images in https://github.com/flora8984461/events.eclipse.org/tree/yiliu/master/saamBanner/less/images/default

which are called `saam-mobility-2021-header.jpg` and `saam-mobility-2021-middle.png` .

And then run `npm run production` to build with the new images.

If there are image file names change (especially for file name e

[2021-02-25 14:02] #175 closed

[2021-02-25 15:14] chrisguindon commented on #170
Closing the issue now that the website is live!

Let's re-open new issues if we have more changes to do!

[2021-02-25 15:14] #170 closed

[2021-03-01 09:07] phkrief opened #178 "SAAM Mobility event is missing on the main events page"
Hi Web Team,

I was expecting to see the Eclipse SAAM Mobility event listed on the events page (https://events.eclipse.org/). But it is not the case.
Does this mean that even if we create the event under the website, we have to declare it to appear in the event list?

Thx

[2021-03-01 09:09] phkrief opened #179 "Add a "Research" Category in the events main page"
Would it be possible to add a "Research" category on the left?
Like that our events will be either to find and we could collect other interesting Research events.
Thx a lot

[2021-03-01 12:58] chrisguindon commented on #178
@phkrief  To promote an event on any EF property, please submit the information to our Newsroom website: https://newsroom.eclipse.org/

[2021-03-01 12:58] #178 closed

[2021-03-03 13:51] #179 closed

[2021-03-15 12:17] chrisguindon commented on #169
I had to revert Eric latest update to the API since we started to notice issues from the API:

- Past events were incorrectly sorted
- The live event website only had 1 event after updating the API.

@ericpoirier Can you please look at fixing your query? We reverted the version change in our make file but did not revert your patch in our module.

[2021-03-15 13:56] chrisguindon commented on #95
WONT FIX.

[2021-03-15 13:56] #95 closed

[2021-03-15 14:52] ericpoirier commented on #169
I created the following patch to fix the ordering.

https://foundation.eclipse.org/r/c/drupal/custom/eclipse_api/modules/eclipse_api/+/4506

[2021-03-24 12:21] chrisguindon commented on #169
The API changes are now live. I think we can close this now.

[2021-03-24 12:21] #169 closed

[2021-04-14 08:46] sjkiwai opened #192 "Update to events.eclipse.org: SAAM Mobllity (for April 14)"
Hi there,
Please update  SAAM Mobility (June 15-16) entry on events.eclipse.org, if possible sometime on Wednesday (Apr 14).
Instead of "Submit your papers by April 16." as the last line, can we
add "Call for papers extended to April 23."

Thank you!

Susan

[2021-04-23 14:40] autumnfound commented on #192
Apologies Susan! This slipped our plate and now its kind of late for this. What would you like to do with this issue?

[2021-04-26 12:51] sjkiwai commented on #192
Hi Martin,
Let's do the update anyway, as the CFP was extended.

Thank you!

Susan

On 2021-04-23 16:40, Martin Lowe wrote:

--

Susan Iwai
Eclipse Foundation Europe GmbH
Berliner Allee 47, D-64295 Darmstadt
Mobile: 0170 811 3791

Managing Directors: Gaël Blondelle, Mike Milinkovich
Handelsregister: Darmstadt HRB 92821

[2021-04-26 13:04] autumnfound commented on #192
I just looked at the site, and it looks like you made this change around the time this bug was created (~11 days ago). So, it looks like you're so good you forget sometimes ;) Closing as done

[2021-04-26 13:04] #192 closed

[2021-04-30 07:55] sjkiwai opened #195 "Update to events.eclipse.org listing for Eclipse SAAM Mobility"
Hi there @autumnfound ,
Would you have a minute to update the description text?

Please remove: Submit your papers by April 16.
Please replace with: Call for Posters, Demos and Work in Progress presentations closes May 28.

![Screen Shot 2021-04-30 at 09 50 18](https://user-images.githubusercontent.com/7265777/116665312-ea3eb280-a999-11eb-8440-e6b4f295ea5e.png)

Thank you!
Susan

[2021-04-30 12:11] autumnfound commented on #195
The best way to update this content is to email news@eclipse.org for edits since this is managed via the newsroom.

[2021-04-30 13:32] sjkiwai commented on #195
OK Will send a mail to news@eclipse.org. Sorry for the confusion.

[2021-04-30 13:34] #195 closed

[2021-05-03 15:25] chrisguindon commented on #6
@linkfang A pr was already started for this issue but it's not finished:
https://github.com/EclipseFdn/events.eclipse.org/pull/111

Can you take some time to review the current work that is being done as you will be asked to finish this.

I think the last remaining feature is the following:

A Netlify preview is available here:
https://deploy-preview-111--eclipsefdn-events.netlify.app/

[2021-05-04 13:03] mbarbero opened #197 "Remove TraviCI"
AFAICT, it's not used anymore. We should remove it.

[2021-05-11 17:52] shanda-eclipse commented on #6
I think @linkfang had it correct that once the end time of the event has passed, it becomes a past event.

However, I am noticing that only 8 upcoming events are displaying, when there are more than that on the list.

[2021-05-11 18:04] shanda-eclipse commented on #6
I would expect to see all upcoming events before past events (ex. EclipseCon 2021 is the furthest out upcoming event). So I see two options:
1. Display ALL upcoming events and 2 past events with the "Load More" button to show the past events.
OR
2. Display 8 upcoming events, then the "Load More" button that loads more upcoming events. Followed by 2 past events, and a "Load more" button that loads

[2021-05-12 13:08] hudsonkelly83 opened #200 "Updating fields on the event submission page"
Hi Chris,

I would like to put a project on your team's radar. There is no hard deadline we would like this completed, just whenever your team has time.

We would like to update the fields on the event submission page. Below is what we would like the process to look like:

**Title** (Keep the same as it currently is)

**Event Type**

EclipseCon
Demo camps and Stammtisch
Eclipse Days & Hackathon
Wo

[2021-05-12 18:05] linkfang commented on #6
Hi @shanda-eclipse , please preview the changes here:
https://deploy-preview-199--eclipsefdn-events.netlify.app/

[2021-05-13 12:02] shanda-eclipse commented on #6
+1 to go live

[2021-05-13 12:06] shanda-eclipse commented on #6
Sorry, just found another issue. EclipseCon 2021 is on the list twice. I'm assuming the staging site uses the live CMS, so I'm looking at the newsroom to see what's going on.

[2021-05-13 12:17] shanda-eclipse commented on #6
Fixing the data in the CMS fixed the display. So we are good to go live.

Official +1

[2021-05-13 12:57] #6 closed

[2021-05-13 12:58] chrisguindon commented on #6
It's a wrap! Thanks @linkfang and @flora8984461 :)

[2021-05-19 12:15] shanda-eclipse opened #202 "Working group site displaying past events"
Some of our working group sites are showing past events on the homepage: https://openadx.eclipse.org/ or events in reverse order: https://edgenative.eclipse.org/. Is this a side-effect of this bug: https://github.com/EclipseFdn/events.eclipse.org/issues/6 or something intentional?

[2021-05-19 18:33] chrisguindon commented on #202
This should be fixed now. The event div was missing a parameters for these 2 sites where we define if we should display past events or not.

[2021-05-20 19:06] shanda-eclipse commented on #202
I checked all the working group sites and there are a few more with issues:
https://openmdm.org/
https://openmobility.eclipse.org/
https://openpass.eclipse.org/

[2021-05-20 21:19] chrisguindon commented on #202
I pushed out some fixes to these sites! Should be good now!

Feel free to re-open if you find more issues!

[2021-05-20 21:19] #202 closed

[2021-06-07 17:16] autumnfound commented on #200
@chrisguindon I think this is for newsroom rather than here. Should we move this issue?

[2021-06-07 18:59] chrisguindon commented on #200
I think it's fine here but we can create a new bug to request changes to the API since this will require a change to the newsroom and to this web app.

I was not planing for us to work on this now. This is something that we should look at later this summer.

[2021-06-07 19:17] autumnfound commented on #200
Agreed, I wasn't thinking that either, but I wanted to be sure it was on your radar is all

[2021-07-22 16:48] annejacko opened #215 "CN4EF Day 2021 website"
This is a virtual one-day event, co-located with and co-promoted by KubeCon NA 2021.

Event name: Cloud Native for Eclipse Foundation Day
Event date(s): TBD - either October 11 or October 12, 2021
Start time: TBD - probably 9am PT
End time: TBD - probably 5pm PT
Event Description:
Cloud Native for Eclipse Foundation (CN4EF) Day is a full-day of expert talks, demos, and thought-provoking sessions f

[2021-07-22 17:01] chrisguindon commented on #215
The url format is:

https://events.eclipse.org/2021/[:pick-something-for-the-event]

[2021-07-23 00:46] annejacko commented on #215
@croundy Clark, what URL should we use? Some possibilities:

https://events.eclipse.org/2021/cn4ef
https://events.eclipse.org/2021/cn4ef-day

[2021-07-26 17:47] ericpoirier commented on #215
I started a PR and decided to go with the name https://events.eclipse.org/2021/cn4ef-day, but if you decide to choose another url, please let me know.

We can update this PR once we have more information about the event.

[2021-07-26 19:29] croundy commented on #215
That works for now. Thanks!

[2021-07-27 00:06] annejacko commented on #215
The URL looks good to me too.

Eric, what's the best way to move forward? I am thinking that we event organizers should look at websites for similar events we have done at the Foundation, and base the look on one of those. Then we can figure out what content will go where on the website, and establish a timeline for when we will have content ready for you to add.

Does that seems reasonable?

Some

[2021-07-27 11:55] ericpoirier commented on #215
Yes I think that would be the right approche as we will be able to reuse layout elements that we've already built.

[2021-07-27 16:54] annejacko commented on #215
Noting here that we would like a new logo for the event website, so we will use the Creative Briefing doc to request that.

[2021-08-09 19:43] chrisguindon commented on #215
@ericpoirier @annejacko,

The steps to move forward are already documented:
https://github.com/EclipseFdn/events.eclipse.org#request-an-event-website

@annejacko We can start working on the website once your fill-up our required form.

[2021-08-17 15:33] chrisguindon commented on #215
@annejacko When should we expect to work on this website?

[2021-08-17 18:26] shanda-eclipse commented on #215
We have decided to use the EF logo on this webpage, rather than creating a new brand.

@annejacko I started a content doc so I could add in some details on how we will integrate the event brand:
https://docs.google.com/document/d/1oW4l-zRh0q12NL80tigIOHWLUDWmQN9LGpDInRH7bCQ/edit?usp=sharing

[2021-08-18 17:12] annejacko commented on #215
@chrisguindon Hi Chris -- as mentioned in the first briefing doc, the goal is to have the website up for testing by September 3.

I'll continue to work on the website content doc that Shanda started. Please ping if we have failed to provide any info you need to get started, and we'll get you the necessary info / content. Thanks.

[2021-08-18 20:03] chrisguindon commented on #215
Thanks @annejacko,

We will need the document to be completed by EOD Friday to meet that deadline. We ask for 2 weeks as we do have other priorities right + Eric is on vacation until mid-september.

[2021-08-19 18:57] annejacko commented on #215
Ready to go for the initial version of the Website Content Doc:
https://docs.google.com/document/d/1oW4l-zRh0q12NL80tigIOHWLUDWmQN9LGpDInRH7bCQ/edit?usp=sharing

[2021-08-27 23:30] annejacko commented on #215
@chrisguindon  That totally makes sense about needing a mockup if we go outside the template -- and about your team not spending time designing. :-) I will work with @meKokabi on that.

This wasn't obvious to me, even though I read the info in the briefing documents.

To close the loop on the menu, let's keep the standard menu. @shanda-eclipse had a good point about the site being hosted on eclips

[2021-08-30 12:48] chrisguindon commented on #215
An alternative to a design would be to pointing us to something we already build in the past.  For example, you could say to us to copy the "Technical topics of interest" section from https://events.eclipse.org/2021/saam-mobility/

+1

I will push an update soon. You can tell me if that's good enough for a soft launch and I will make it live.

[2021-08-30 13:00] chrisguindon commented on #215
Links were removed and new text added:
https://deploy-preview-217--eclipsefdn-events.netlify.app/2021/cn4ef-day/

Let me know if you want me to push this live!

Thankjs

[2021-08-30 15:29] annejacko commented on #215
@chrisguindon  Please make it live! Tnanks.

[2021-08-30 16:04] chrisguindon commented on #215
Done! @annejacko, feel free to open a new issue whenever new changes are required! The page should be live any minute now!

[2021-09-02 22:21] annejacko opened #218 "Please add Register button to CN4EF website"
Hi -- please update the CN4EF website https://events.eclipse.org/2021/cn4ef-day/
to add the Register button in the Jumbotron. The button should go here: https://www.crowdcast.io/e/CN4EF

Since Monday is a holiday, would be great if this could be added tomorrow, Friday, Sept. 3.  Thanks!

[2021-09-03 14:31] autumnfound commented on #218
@annejacko please see the following for a preview of the change https://deploy-preview-219--eclipsefdn-events.netlify.app/2021/cn4ef-day/

[2021-09-03 14:52] annejacko commented on #218
@autumnfound Looks great! Please deploy. Thanks for the quick turnaround.

[2021-09-03 15:04] #218 closed

[2021-09-03 19:48] meKokabi commented on #215
Hello, please find the link below to the mockup page:
https://xd.adobe.com/view/0e18a6b2-4bb3-4beb-8373-99e9323c67ee-5b4b/

[2021-09-03 19:50] #215 closed

[2021-09-03 19:55] annejacko opened #220 "Update to CN4EF Day website"
Since @chrisguindon suggested opening new issues with update requests, here goes.

We have new content to add to this site: https://events.eclipse.org/2021/cn4ef-day

Here is the mockup that @meKokabi did for the WG section:
https://xd.adobe.com/view/0e18a6b2-4bb3-4beb-8373-99e9323c67ee-5b4b/

The text and links to the logos are in this website content doc:
https://docs.google.com/document/d/1oW4l

[2021-09-03 20:05] chrisguindon commented on #220
This is great @annejacko and @meKokabi!

When is this needed?

Should we expect the content for the agenda/speaker to be provided before we push this update live or will want to remove those section for the next revision?

[2021-09-03 20:32] annejacko commented on #220
@chrisguindon  It's going to take a bit of time for the agenda and speakers, so for now, we can't include those sections as shown in the mockup. But it would be great to have the WG info added soon. We will start promoting next week, so the more content by then, the better. Thanks.

[2021-09-07 12:14] ericpoirier commented on #220
Hi @annejacko and @meKokabi,

Where can I find the background image that is used in this mockup?

Thanks.

[2021-09-07 12:21] meKokabi commented on #220
Hi Eric,
All the assets have been added here:
https://github.com/EclipseFdn/events.eclipse.org/issues/215
Let me know if you want me to re-add it .
Best,
M

On Tue, Sep 7, 2021 at 8:15 AM Eric Poirier ***@***.***>
wrote:

[2021-09-09 14:37] HailleySeed opened #222 "TheiaCon 2021 Website Creation"
Hi there,

We will require a new web page for the first ever TheiaCon Event on Nov 17. The CFP is already open but we would like if this webpage could be up as soon as your schedules permit, with the latest being Oct 8 please.

Here is the website content creation form: https://docs.google.com/document/d/1MxtCrfaQHd5LmGhxJAM1cErII_Fa_TDSt6cIb4HH9BI/edit?usp=sharing

Here is the file with the progr

[2021-09-09 15:25] autumnfound commented on #222
Transfering issue to events.eclipse.org repo! The repo you posted in was for syncing our PMI to Github/Gitlab ;)

[2021-09-09 15:26] chrisguindon commented on #220
@annejacko,

We don't typically change the look and feel of the featured footer. The orange section in @meKokabi. We would prefer to keep this consistent since these are shown across all our websites.

Are you ok with us keeping that section as-is?
https://deploy-preview-221--eclipsefdn-events.netlify.app/2021/cn4ef-day/

[2021-09-09 15:46] meKokabi commented on #220
Looks good to me!

[2021-09-09 17:52] linkfang commented on #220
Besides, as we don't have the agenda and speakers, so I keep the sentence "Agenda information is coming soon!" in the jumbotron. Please let me know if you would like to remove it. Thanks!

[2021-09-09 17:59] annejacko commented on #220
The preview looks good to me! Thanks.

[2021-09-13 13:33] #220 closed

[2021-09-13 18:31] ericpoirier commented on #222
We will need to create an Infra for IT to create a redirect from the urls TheiCon.org and TheiaCon.ai to events.eclipse.org/2021/theiacon

[2021-09-14 13:11] meKokabi opened #223 "Logos' sizing adjustment on CN4EP Day webpage"
Hello, Please re-adjust the banner's logos:
The 4 logos including Jakarta, MicroProfile, Edge Native, and Cloud Dev Tools need to have same sizing. Currently Jakarta is too small and Edge Native too large. Please make them all consistent . Let me know if you think it might be easier to adjust with pngs.
Thanks,
Mehrnaz

Page link : https://events.eclipse.org/2021/cn4ef-day/
[Logo-svg& png.zip](htt

[2021-09-15 14:39] linkfang commented on #223
Hi @meKokabi ,
Please preview the changes here:
https://deploy-preview-224--eclipsefdn-events.netlify.app/2021/cn4ef-day/

[2021-09-15 14:41] meKokabi commented on #223
It looks good to me, thanks!

On Wed, Sep 15, 2021 at 10:39 AM Zhou (Link) Fang ***@***.***>
wrote:

[2021-09-15 14:52] #223 closed

[2021-09-16 15:42] meKokabi commented on #222
Hello,
The XD file can be found at: https://xd.adobe.com/view/d1b34d6b-da59-4512-ae1e-3ce6b7ac11cf-84e0/

[2021-09-16 15:44] meKokabi commented on #222
Here is the optimized banner image:
![Banner](https://user-images.githubusercontent.com/75500459/133643293-301cf918-2397-493a-a2cb-079bb305c1c1.jpg)

[2021-09-16 15:45] meKokabi commented on #222
An screenshot that shows the layout:
<img width="659" alt="Screen Shot 2021-09-16 at 11 44 49 AM" src="https://user-images.githubusercontent.com/75500459/133643379-36d0c586-8a49-4566-966b-5200d7e99409.png">

[2021-09-16 15:52] meKokabi commented on #222
Please find the svg logo:
[Logo -svg.zip](https://github.com/EclipseFdn/events.eclipse.org/files/7179241/Logo.-svg.zip)

[2021-09-16 17:28] ericpoirier commented on #222
Hi @meKokabi, I'm looking at the screenshot and the file you provided and the rocket seems to be different. Which version is the good one?

[2021-09-16 17:29] ericpoirier commented on #222
Hi @meKokabi, The logo is different from what is in the screenshot. Is that normal?

[2021-09-16 17:30] meKokabi commented on #222
Hi Eric,
Please used the banner image which has been optimized and all the elements comes as one layer

[2021-09-16 17:33] meKokabi commented on #222
Hi Eric, the one on the zip file is the final one. Since it has a gradient you may want to use the png so I added here as well.
![TheiaConLogoFinal](https://user-images.githubusercontent.com/75500459/133658514-deecc83b-f1b0-4934-9479-aba9df07e74e.png)
.

[2021-09-16 17:35] meKokabi commented on #222
Here is the grayscale negative ones:
![TheiaConLogo-Grayscale](https://user-images.githubusercontent.com/75500459/133658642-eade2d00-ea98-4f4f-8e52-de8839ae235c.png)

[2021-09-16 17:43] ericpoirier commented on #222
The svg is fine, I was just noticing that the one in the zip file has a white border all around the logo compared to the one you just provided.

[2021-09-16 17:48] meKokabi commented on #222
Oh thanks for your attention Eric. I will update it shortly.

On Thu, Sep 16, 2021 at 1:43 PM Eric Poirier ***@***.***>
wrote:

--

Mehrnaz Kokabi

Creative Lead | Eclipse Foundation
Eclipse Foundation <http://www.eclipse.org/>: The Community for Open
Innovation and Collaboration

[2021-09-16 17:56] meKokabi commented on #222
Just updated! Thanks again Eric!

[2021-09-16 17:57] ericpoirier commented on #222
no problem!

[2021-09-16 21:03] annejacko opened #226 "Add Agenda / Session info to CN4EF Day website"
We have the data for the agenda now for CN4EF Day.
https://events.eclipse.org/2021/cn4ef-day/

It's in this document:
https://docs.google.com/document/d/1oW4l-zRh0q12NL80tigIOHWLUDWmQN9LGpDInRH7bCQ/edit#heading=h.7nkf5tunp8zb

Can you please go ahead and add this now, and not wait for the speaker details? That will be coming next, but we want to start more heavily promoting the agenda without wait

[2021-09-17 12:44] ericpoirier commented on #226
By leaving the speaker details out, do you mean that we wait to create the speakers page and don't add the link in the agenda?
Example: https://events.eclipse.org/2021/saam-mobility/speakers/#andreas_riexinger

[2021-09-17 13:36] ericpoirier commented on #197
I removed Travis CI this week from this repo.

[2021-09-17 13:36] #197 closed

[2021-09-17 14:17] linkfang commented on #222
Hi @HailleySeed ,

The design mock up does not include some content you added in the google doc (like, subtitle, tagline, and important links), but I assume you would like to include them in the jumbotron?
So now it looks like this:
![image](https://user-images.githubusercontent.com/43075439/133797671-d65361cf-da35-4586-9833-458e98c1cb42.png)

Preview link: https://deploy-preview-225--eclipsefdn-e

[2021-09-17 14:49] meKokabi commented on #222
Hello, in case we need to have links on the banner please used this mockup and also lineup the subheading with the heading. Here You Are: https://xd.adobe.com/view/d1b34d6b-da59-4512-ae1e-3ce6b7ac11cf-84e0/

[2021-09-17 15:47] annejacko commented on #226
Hi Eric -- Yes, I need to wait to create the Speakers page since I don't have all the info. But we are late with getting the agenda up, so we would like to add it ASAP.,

This also means updating the text in the header that currently says "Agenda information is coming soon!" to a button that goes to the Agenda.

Question: I have included the speaker's job title and company along with their name in

[2021-09-17 15:56] annejacko commented on #226
Eric, I have an update. I just managed to get a bunch of speaker data, so I think we can add the Speakers page now (or at least an hours from now). So let's wait, and I'll update this issue when I have the Speaker data ready!

[2021-09-17 16:08] ericpoirier commented on #226
Ok sounds good, thanks for the update.

@linkfang, you can start working on this issue with you have the chance, create a draft PR and add the remaining speaker data when Anne provides them.

[2021-09-17 16:50] annejacko commented on #226
Hi - I now have the data for the Speakers. It's in this file:
https://docs.google.com/document/d/1oW4l-zRh0q12NL80tigIOHWLUDWmQN9LGpDInRH7bCQ/edit#heading=h.htp0nqerwzfd

Attaching the Zip folder with the speaker photos.

So we can now have two new buttons in the header: Agenda and Speakers

Thanks
[CN4EF_Day_speaker_photos.zip](https://github.com/EclipseFdn/events.eclipse.org/files/7187185/CN4EF_

[2021-09-17 20:53] linkfang commented on #226
Hi @annejacko ,

Please preview the changes here:
https://deploy-preview-227--eclipsefdn-events.netlify.app/2021/cn4ef-day/

[2021-09-19 00:00] annejacko commented on #226
Thanks -- it looks really good! Just a couple of items.

- In the Jumbotron, please remove the text "Agenda information is coming soon"
- In the Jumbotron, include three orange buttons that link to the appropriate page or section:  1)Registration   2) Agenda  3)Speakers.  (In other words, change the text of the "Event Registration" button to just say "Registration," and add the other two orange bu

[2021-09-20 13:30] chrisguindon commented on #222
I have a feeling the text here will be hard to read on mobile. It's a very busy header.

![Screenshot 2021-09-20 093003](https://user-images.githubusercontent.com/893942/134010727-34296e47-05ef-43ab-83e5-c478d400514e.png)

[2021-09-20 14:13] meKokabi commented on #222
@chrisguindon Absolutely right!  please review the mobile view mockup here:
https://xd.adobe.com/view/3111e628-8251-42ca-99a7-f3dbb273ab8c-6442/

and here is the mobile view screenshot
<img width="373" alt="Screen Shot 2021-09-20 at 10 12 12 AM" src="https://user-images.githubusercontent.com/75500459/134017452-0ebab5a1-1759-4edd-bcde-58f3b5b67a4b.png">

[2021-09-20 14:21] ericpoirier commented on #222
Hi @meKokabi, can we do something with the "Virtual Conference" text. It's also hard to read in this mobile screenshot.

[2021-09-20 14:27] meKokabi commented on #222
@ericpoirier Hi Eric, sure, I increased the size and change the colour to white.
https://xd.adobe.com/view/3111e628-8251-42ca-99a7-f3dbb273ab8c-6442/

<img width="373" alt="Screen Shot 2021-09-20 at 10 25 13 AM" src="https://user-images.githubusercontent.com/75500459/134019684-a011ffb7-41cf-4ac0-a6af-86377ce2f1eb.png">

[2021-09-20 14:29] linkfang commented on #226
No problem!

Please preview the updated version here:
https://deploy-preview-227--eclipsefdn-events.netlify.app/2021/cn4ef-day/

[2021-09-20 15:57] annejacko commented on #226
It's great! Please make it live. I'll be sharing it with the speakers so they can check all their data. Thanks so much.

[2021-09-20 17:09] #226 closed

[2021-09-21 21:10] linkfang commented on #222
Hi @meKokabi , can you share the image you used for mobile view mock up? I think it has a much higher height compare to the one you offered. Thanks!

[2021-09-22 11:22] brianking opened #228 "Change Speaker Oreder on CN4EF Day"
RE:
https://events.eclipse.org/2021/cn4ef-day/

In the Speakers section, I propose we move one or both of the women speakers to the first page of the carousel, to reflect/promote diversity at the event.

[2021-09-22 12:15] meKokabi commented on #222
Hi, please find attached the mobile view assets folder

[MobileViewAssets.zip](https://github.com/EclipseFdn/events.eclipse.org/files/7210541/MobileViewAssets.zip)

[2021-09-22 12:34] ericpoirier commented on #228
Hi @brianking, can you tell us which speakers you'd like to add to the first page and where in the list?

Thanks.

[2021-09-22 15:52] linkfang commented on #228
Hi @brianking ,
How is the order on this preview page:
https://deploy-preview-229--eclipsefdn-events.netlify.app/2021/cn4ef-day/

[2021-09-22 20:06] brianking commented on #228
Looks good, only other change I would make is to replace me on the first page Kilton Hopkins.

[2021-09-23 15:02] linkfang commented on #228
Cool, here is the new change:
https://deploy-preview-229--eclipsefdn-events.netlify.app/2021/cn4ef-day/

[2021-09-23 19:18] ericpoirier commented on #228
@brianking can you give us the +1 to go live with these changes?

Thanks.

[2021-09-23 19:29] brianking commented on #228
+1 Thank you!

[2021-09-24 12:08] #228 closed

[2021-09-29 16:44] linkfang commented on #222
Hi @HailleySeed ,

For the committee pictures, the size of Artem Zatsarynnyi and Marc Dumais is a little too small (185*185). We prefer a 400*400 size so that it can have a clear view on different situations.
Can you please update the images for those 2 persons. Thanks!

Currently, it might look a little fuzzy in mobile view and when browser window is not in full screen (width: 800 to 1100). Like

[2021-09-29 18:31] HailleySeed commented on #222
Hi @linkfang

Please find attached!

Thank you!
[Untitled design (1).zip](https://github.com/EclipseFdn/events.eclipse.org/files/7254243/Untitled.design.1.zip)

[2021-09-29 20:21] linkfang commented on #222
Thanks @HailleySeed !

Please preview the page here:
https://deploy-preview-225--eclipsefdn-events.netlify.app/2021/theiacon/

Let me know when the speakers and agenda sections are ready so that I can add them in.
Thanks!

[2021-09-30 07:32] brianking commented on #222
@linkfang I suggest adding some more space between the rocket and the text to the right of it.
<img width="479" alt="Screenshot 2021-09-30 at 08 31 01" src="https://user-images.githubusercontent.com/114116/135407619-e6dcf098-1679-4541-94f7-95ec77530621.png">

[2021-09-30 13:05] HailleySeed commented on #222
Thank you @linkfang!

So far we have 3 speakers:

-Marc Dumais, Software Developer at Ericsson

-Jonas Helming, Software Engineer at EclipseSource
![Jonas Helming](https://user-images.githubusercontent.com/85507137/135460509-a840c4af-3d5f-44a6-b20e-4ba6727e3696.jpg)

-Thomas Mäder, Principal Software Developer at Red Hat
![Thomas Mäder](https://user-images.githubusercontent.com/85507137/135460585-

[2021-09-30 15:50] linkfang commented on #222
Hi @brianking , the space is adjusted.

Hi @HailleySeed , the 3 speakers are added.

Please preview the latest one here:
https://deploy-preview-225--eclipsefdn-events.netlify.app/2021/theiacon/

[2021-09-30 16:00] meKokabi commented on #222
@linkfang Hi Thanks for your help on this page, Just want to ask for some adjustments including:

The banner image looks darker than the original one, just wondering a filter has been added, but look it a bit dark and not vivid as the original image. Can you please fix this. I have enclosed an screenshot for your reference as well as XD link.
https://xd.adobe.com/view/9f86b83e-3e8f-4f1a-ba5f-97d38

[2021-09-30 17:23] linkfang commented on #222
Hi @meKokabi ,
I updated the header text alignment.

And for the jumbotron background image, I did add a filter to make the text more readable. Especially for some cases that the text is on top of the rocket. Without the darker filter, some text would be hard to read, like so:
![image](https://user-images.githubusercontent.com/43075439/135501382-6c7c04ba-e422-4cc3-b8cd-45be49e2ffcc.png)
![image](h

[2021-09-30 17:33] meKokabi commented on #222
Hi @linkfang , it is very dark and has conflict with the main concept of fun that we are aiming for this webpage. I will make some adjustment and do test on staging and get back to you shortly.

[2021-09-30 17:53] meKokabi commented on #222
<img width="628" alt="A" src="https://user-images.githubusercontent.com/75500459/135506215-3cf83472-5e27-46b7-ac6d-65fd63170487.png">

[2021-09-30 18:08] meKokabi commented on #222
@linkfang I tested the above image and works well add a gradient layer on nav bar and texts on mobile view please add some margin, as I said we are looking to have fun look image so it needs to be vivid please. please feel free to let me know if need more adjustment.
link to mobiel view: https://xd.adobe.com/view/d1b34d6b-da59-4512-ae1e-3ce6b7ac11cf-84e0/
link to desktop view:
https://xd.adobe.com

[2021-09-30 18:29] meKokabi commented on #222
And here is the optimized banner with out rocket
![Banner-2](https://user-images.githubusercontent.com/75500459/135510951-f66ab2ec-605a-4e91-b53f-1e45b4636dbe.jpg)

[2021-09-30 18:32] meKokabi commented on #222
and here +rocket
![BKG+rocket](https://user-images.githubusercontent.com/75500459/135511192-978a66ba-f535-4ed3-8d7e-3cd97c44f2e3.jpg)

[2021-09-30 20:57] linkfang commented on #222
Hi @meKokabi ,

Please preview the change here:
https://deploy-preview-225--eclipsefdn-events.netlify.app/2021/theiacon/

Both XD links you offered were for desktop so I am not sure if there are any new changes for mobile view?

My point was not mobile view did not work at all, but did not work for some certain sizes (as the image size is dynamic).
But now I make the margin dynamic based on the wi

[2021-09-30 21:03] meKokabi commented on #222
Hi @linkfang
The desktop looks great now! Thanks!
just in case mobile view link:
https://xd.adobe.com/view/3111e628-8251-42ca-99a7-f3dbb273ab8c-6442/
Thanks again,
M

[2021-10-01 13:24] linkfang commented on #222
Cool!
Increased the margin top for "Virtual Conference | November 17, 2021" a little bit to match the mobile design a little more.
https://deploy-preview-225--eclipsefdn-events.netlify.app/2021/theiacon/

[2021-10-01 13:26] meKokabi commented on #222
Looks great now! Thanks!

On Fri, Oct 1, 2021 at 9:24 AM Zhou (Link) Fang ***@***.***>
wrote:

[2021-10-04 14:03] linkfang commented on #222
Hi @HailleySeed ,
Do we have an estimate when the agenda section information will be ready?
It would be great if we can get it early this week. As we are planning to make the website live on Oct 8, Friday (which is supposed to be the latest date)

Thanks!

[2021-10-04 14:39] HailleySeed commented on #222
@linkfang Go ahead live without the agenda. The CFP is still open, I will update with the agenda next week!

Thank you!

[2021-10-04 15:38] #222 closed

[2021-10-04 15:50] linkfang commented on #222
Now the changes are live!